$MicroGrey: #929292;
$MicroDarkGrey: #4A4A4A;
$MicroBlue: #13C3C6;
$MicroCoral: #FF636B;
$MicroOrange: #FFA963;
$transparentWhite: #FFFFFFA0;

$MainFont: 'Poppins', sans-serif;
$SecondaryFont: 'Josefin Sans', sans-serif;

$medium: 768px;

.navbar {
    background-color: white;
}

.nav-link {
    color: $MicroDarkGrey;
}

.nav-item {
    padding: 6px;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 200;
    //padding-left: 30px; removed when working on resource centre article styling
    //padding-right: 30px; removed when working on resource centre article styling
    padding-bottom: 30px;
    padding-top: 0;
    color: $MicroDarkGrey;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 6vw;
    color: $MicroDarkGrey;
    text-align: center;
}

@media only screen and (min-width: 768px) {
    h1 {
        font-size: 50px;
    }
}

h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 200;
    color: $MicroDarkGrey;
    //padding-left: 30px; removed when working on resource centre article styling
    //padding-right: 30px; removed when working on resource centre article styling
}

h3 {
    margin: 20px 0;
//    font-family: 'Lato', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 200;
    font-size: 28px;
    color: $MicroDarkGrey;
    text-align: center;
}

#intro {
    background-color: $MicroBlue;
    color: #FFFFFF;
    margin-bottom: 0;
    
    h1 {
        font-family: 'Poppins', sans-serif;
        font-size: 6vw;
        color: white;
    }

    @media only screen and (min-width: 768px) {
        h1 {
            font-size: 50px;
        }
    }
}

#mobile-image {
    padding: 0;
    margin: 0;
}

@media only screen and (min-width: 768px) {
    #summary {
        background-image: url(/images/apple-computer-cup-597331.jpg);
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }
}

#summary {
    background-color: white;
}

#summary-prose-column {
    background-color: $transparentWhite;
    text-align: center;
}

.instant-brand-package {
    margin-top: 20px;
    font-weight: 300;
    text-align: center;
}

@media only screen and (min-width: 768px) {
    .instant-brand-package {
        margin-top: 40px;
    }
}

#summary-bullet-column {
    align-items: center;
    justify-content: center;
    padding: 0;
}

#summary-bullet-section {
    //width: 100%;
    position: relative;
    padding-top: 15px;
}

@media only screen and (min-width: 768px) {
    #summary-bullet-section {
        width: 350px;
        height: 220px;
        padding-top: 0;
        border-top-left-radius: 25px;
        border-bottom-right-radius: 25px;
        background-color: #FFFFFFA0;
    }
}

#summary-bullet-section > p {
    padding-top: 25px;
    padding-bottom: 0;
}


#price-tag {
    width:120px;
    height: 120px;
    border-radius: 50%;
    background-color: $MicroOrange;
    position: absolute;
    right: 10px;
    top: -80px;
}

@media only screen and (min-width: 768px) {
    #price-tag {
        width:150px;
        height: 150px;
        right:-20px;
        top: -80px;
    }
}

#price-tag:hover {
    background-color: #FDA969C0;
    cursor: pointer;
}

#price-tag > h2 {
    color: white;
    font-size: 40px;
    position: relative;
    top: 40px;
    right: 12px;
}

@media only screen and (min-width: 768px) {
    #price-tag > h2 {
        top: 52px;
        right: 0;
    }
}

.benefit-circle {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 50px auto 20px auto;
}

#approach-image {
    position: relative;
    left: 27px;
    top: 27px;
}

#micro-prices-image {
    position: relative;
    left: 40px;
    top: 27px;
}

#never-outsourced-image {
    position: relative;
    left: 36px;
    top: 27px;
}

#quick-turnaround-image {
    position: relative;
    left: 30px;
    top: 27px;
}

#approach {
    background-color: $MicroBlue;
}

#micro-prices {
    background-color: $MicroGrey;
}

#never-outsourced {
    background-color: #D73264;
}

#quick-turnaround {
    background-color: $MicroOrange;
}

.features-headings {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#extra-services-left {
    background-image: url(/images/indesignwetrust.png);
    background-size: cover;
    background-color: #FFFFFF;
    position: relative;
}

#extra-services-right {
    background-image: url(/images/stretchedbackground.png);
    background-size: cover;
    position: relative;
    padding-bottom: 20px;
}

#extra-services-right h2 {
    color: white;
    margin-top: 40px;
    text-align: center;
}

.grey-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF55;
    z-index: 1;
}

.extra-service-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    z-index: 2;
    border-radius: 5px;
}

.extra-service-container p {
    color: white;
    padding-bottom: 0;
}

.extra-service-container h3 {
    color: white;
    text-align: left;
    margin-left: 30px;
    margin-bottom: 0;
}

.extra-service-container:hover {
    background-color: #FFFFFFA0;
}

.extra-service-text {
    width: 390px;
}

.arrow-button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 40px;
    text-align: center;
    position: relative;
    bottom: 5px;
    z-index: 10;
    color: #707070;
}

.arrow-button > span {
    position: relative;
    bottom: 4px;
    left: 2px;
}

#arrow-button-support {
    background-color: $MicroBlue;
}

#arrow-button-spread {
    background-color: $MicroOrange;
}

#arrow-button-network {
    background-color: $MicroCoral;
}

.carousel-item {
    margin-top: 50px;
    margin-bottom: 50px;
}

.carousel-control-next-icon:after {
    content: '>';
    font-size: 55px;
    color: $MicroDarkGrey;
}

.carousel-control-prev-icon:after {
    content: '<';
    font-size: 55px;
    color: $MicroDarkGrey;
}

.carousel-indicators li {
    background-color: $MicroGrey;
}

.carousel-indicators .active {
    background-color: $MicroDarkGrey;
}

#about-section {
    background-color: $MicroBlue;
}

#about-section h2 {
    color: white;
    padding-top: 30px;
    font-family: "Poppins", sans-serif;
}

#about-section p {
    color: white;
    margin: 0;
}

.bio-column {
    flex-wrap: wrap;
    padding-left: 20px;
    padding-right: 20px;
}

.person-name {
    width: 100%;
}

.person-name h3 {
    color: white;
}

.person-photo {
    width: 225px;
    flex-grow: 0;
    margin-bottom: 20px;
}

.person-desc {
    width: 150px;
    flex-grow: 1;
}

.person-desc p {
    padding-left: 10px;
    padding-right: 6px
}

.contact-section {
    background-color: $MicroGrey;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
}

.contact-section h2 {
    color: white;
    padding-top: 30px;
    font-family: "Poppins", sans-serif;
}

.contact-section p {
    color: white;
    margin-bottom: 0;
}

a {
    color: $MicroBlue;
}

#contact-form-container {
    margin: 0 auto;
}

#contact-form {
    padding: 15px;
}

input {
    background-color: $MicroGrey;
    box-shadow: 0;
    border: none;
    border-bottom: 1px solid white;
    margin: 0;
    color: white;
}

#name-input {
    width: 100%;
}

#email-input {
    width: 100%;
}

#message-input {
    background-color: $MicroGrey;
    border: none;
    resize: none;
    border-bottom: 1px solid white;
    width: 100%;
    padding: 0 1px;
    color: white;
    margin-top: 10px;
}

#sendButton {
    text-align: center;
    border: none;
    background-color: $MicroGrey;
    color: white;
    font-size: 150%;
}

#sendButton:hover {
    cursor: pointer;
}

::placeholder {
    color: white;
}



#form-success {
    display: none;
}

.footer-section {
    background-color: #F5F5F5;
    padding-top: 30px;
    padding-left: 5px;
}

.footer-section p {
    text-align: center;
    font-size: 14px;
    font-weight: 200;
    margin-bottom: 0;
    
}

#copyright {
    font-size: 18px;
    color: $MicroBlue;
    padding-top: 20px;
}

.grey-hover-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    
    &:hover {
        background-color: #FFFFFF55;
    }
}

#resource-centre-sections {
    text-align: center;
    margin-bottom: 60px;
    
    a:hover {
        text-decoration: none;
        background-color: red;
        z-index: 100;
    }
    
    h2 {
        font-family: $MainFont;
        color: white;
        font-size: 26px;
        padding: 0px 10px;
    }
    
    p {
        font-family: $MainFont;
        color: white;
        font-size: 18px;
        padding-bottom: 0;
    }
    
    .col-md-6 {
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .row {
        //margin-top: 10px;
        position: relative;
        z-index: 2;
        
        .image-block {
            height: 150px;
        }
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: 0.5;
        }
    }
    
    .row:hover {
        background-color: #FFFFFFA0;
    }
    
    .spacer {
        height: 20px;
        width: 100%;
    }
    
    @media only screen and (min-width: $medium) {
        h2 {
            font-size: 36px;
            padding: 0px 10px;
        }
        
        p {
            font-size: 18px;
        }

        .col-md-6 {
            padding: 0;
        }

        .row {
            .image-block {
                height: auto;
            }
            
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    
    #row-1 {
        background-color: $MicroGrey;
    }
    
    #row-2 {
        background-color: $MicroBlue;
    }
    
    #row-3 {
        background-color: $MicroCoral;
    }
    
    #row-4 {
        background-color: $MicroOrange;
    }
    
    #row-5 {
        background-color: $MicroGrey;
    }
    
    #row-6 {
        background-color: $MicroBlue;
    }
}



.article-list-item-wrapper {
    position: relative;
    padding: 0;
    margin-bottom: 50px;
    
    a {
        &:hover {
            text-decoration: none;
        }
    }
    
    .article-list-image {
        position: absolute;
        height: 100%;
        
        @media only screen and (min-width: $medium) {
            position: absolute;
            right: 0;
            top: 0;
            width: 50%;
            
        }
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            margin: 0;
        }
    }
    
    .article-list-text {
        position: relative;
        margin: 15px;
        border-radius: 5px;
        background-color: $transparentWhite;
        
        @media only screen and (min-width: $medium) {
            width: 50%;
            margin: 0;
            background-color: none;
        }
        
        h2 {
            margin: 0;
        }
        p {
            margin: 0;
        }
    }
}

.capitals {
    text-transform: uppercase;
}

.article-formatting {
    p {
        max-width: 100%;
        border: 1px solid green;
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            margin: 0;
        }
    }
    
    h2 {
        font-family: $MainFont;
        font-size: 34px;
    }
    
    h3 {
        text-transform: uppercase;
        font-family: $SecondaryFont;
        text-align: left;
        font-size: 28px;
    }
    img {
        text-align: center;
        display: block;
        margin: 0 auto;
    }
}