p {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 200;
  color: #4A4A4A; }

h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  color: #4A4A4A;
  text-align: center; }

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 50px; } }
h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 200;
  color: #4A4A4A; }

h3 {
  margin: 20px 0;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 200;
  font-size: 28px;
  color: #4A4A4A; }

#menu-bar {
  height: 100px;
  width: 100%;
  position: relative; }
  #menu-bar #logo {
    width: 240px;
    height: 90px;
    position: fixed;
    z-index: 4;
    top: 6px;
    left: 0;
    border-top-right-radius: 45px;
    border-bottom-right-radius: 45px;
    background-color: #ffffffd0; }
    #menu-bar #logo img {
      position: relative;
      left: 15px;
      top: 5px;
      width: 80%; }
    #menu-bar #logo .logo-dot {
      position: absolute;
      top: 9px;
      width: 18px;
      height: 18px;
      border-radius: 50%; }
    #menu-bar #logo .dot-1 {
      left: 15px;
      background-color: #605970; }
    #menu-bar #logo .dot-2 {
      left: 43px;
      background-color: #DDE0d4; }
    #menu-bar #logo .dot-3 {
      left: 71px;
      background-color: #56F987; }
    #menu-bar #logo .dot-4 {
      left: 99px;
      background-color: #1A7781; }
    #menu-bar #logo .logo-micro {
      font-family: 'Montserrat', sans-serif;
      color: #DDE0d4;
      font-size: 28px;
      letter-spacing: 10px;
      position: absolute;
      left: 13px;
      top: 25px; }
    #menu-bar #logo .logo-boutique-branding {
      font-family: 'Poppins', sans-serif;
      font-weight: 300;
      font-size: 14px;
      letter-spacing: 3px;
      color: #DDE0d4;
      position: absolute;
      left: 15px;
      top: 58px; }

#menu-list {
  display: none; }
  #menu-list .menu-list-items {
    width: 60%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    #menu-list .menu-list-items a {
      text-decoration: none;
      color: white; }
      #menu-list .menu-list-items a:hover {
        color: #605970; }

.menu-toggle {
  position: absolute;
  z-index: 6;
  right: 20px;
  top: 20px;
  font-family: "Poppins", sans-serif;
  font-size: 30px; }
  .menu-toggle:hover {
    cursor: pointer; }

.menu-toggle-close {
  color: white;
  right: 30px;
  font-size: 40px; }

#menu-checkbox {
  display: none; }
  #menu-checkbox:checked ~ #menu-list {
    background-color: #DDE0d4;
    display: block;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    list-style-type: none; }
    #menu-checkbox:checked ~ #menu-list li {
      color: white;
      font-family: "Poppins", sans-serif;
      font-size: 6vw; }
  #menu-checkbox:checked ~ .menu-toggle {
    position: fixed; }

.navbar {
  background-color: white; }

.nav-link {
  color: #4A4A4A;
  font-family: "Poppins", sans-serif; }

.nav-item {
  padding: 6px; }

.page-intro {
  padding: 30px 0; }
  .page-intro h1, .page-intro p {
    color: white; }
  .page-intro h1 {
    font-weight: 300; }

#intro-banner {
  background-color: #605970;
  color: white;
  margin-bottom: 0; }
  #intro-banner h1 {
    font-size: 6vw;
    color: #56F987;
    text-align: left; }
  @media only screen and (min-width: 768px) {
    #intro-banner h1 {
      font-size: 50px; } }

#video-section {
  padding: 0;
  margin: 0;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 55vw;
  min-height: 320px;
  max-height: 500px;
  display: flex; }
  @media only screen and (min-width: 768px) {
    #video-section {
      display: block; } }
  #video-section #mobile-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    width: 100%; }
    @media only screen and (min-width: 768px) {
      #video-section #mobile-image {
        display: none; } }
  #video-section #backgroundVideo {
    display: none; }
    @media only screen and (min-width: 768px) {
      #video-section #backgroundVideo {
        display: block;
        object-fit: cover;
        width: 100%;
        max-height: 500px;
        z-index: 0; } }
  #video-section .dark-grey-overlay {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000A0; }
  #video-section .text-over-video {
    position: relative;
    width: 90%;
    z-index: 2;
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    #video-section .text-over-video h2, #video-section .text-over-video p {
      color: white; }
    #video-section .text-over-video p {
      font-size: 16px; }
    #video-section .text-over-video h2 {
      font-size: 20px; }
    @media only screen and (min-width: 576px) {
      #video-section .text-over-video h2 {
        font-size: 28px; } }
    @media only screen and (min-width: 768px) {
      #video-section .text-over-video {
        position: absolute;
        top: calc(50% - 176px);
        left: 5%;
        width: 410px;
        heigth: 312px; }
        #video-section .text-over-video p {
          font-size: 20px; }
        #video-section .text-over-video h2 {
          font-size: 2rem; } }
  #video-section .packages-button {
    position: relative;
    background-color: #56F987;
    height: 36px;
    width: 160px;
    border-radius: 5px;
    color: white;
    padding: 5px 0;
    margin: 0 auto; }
    #video-section .packages-button:hover {
      text-decoration: none; }
    #video-section .packages-button a, #video-section .packages-button a:hover, #video-section .packages-button a:focus {
      text-decoration: none; }
      #video-section .packages-button a p, #video-section .packages-button a:hover p, #video-section .packages-button a:focus p {
        text-decoration: none; }
    @media only screen and (min-width: 768px) {
      #video-section .packages-button {
        position: absolute;
        height: 40px;
        padding: 4px 0;
        bottom: -40px;
        left: calc(50% - 80px); } }

.front-page-features {
    /*
    #approach-image {
        position: relative;
        left: 27px;
        top: 27px;
    }

    #micro-prices-image {
        position: relative;
        left: 40px;
        top: 27px;
    }

    #never-outsourced-image {
        position: relative;
        left: 36px;
        top: 27px;
    }
    */ }
  .front-page-features .main-features {
    margin-bottom: 20px; }
  .front-page-features .benefit-circle {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 50px auto 20px auto;
    display: flex;
    align-items: center;
    justify-content: center; }
  .front-page-features #quick-turnaround-image {
    position: relative;
    bottom: 4px; }
  .front-page-features #approach {
    background-color: #605970; }
  .front-page-features #micro-prices {
    background-color: #DDE0d4; }
  .front-page-features #never-outsourced {
    background-color: #56F987; }
  .front-page-features #quick-turnaround {
    background-color: #1A7781; }
  .front-page-features .features-headings {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; }

#extra-services-left {
  background-image: url(/images/indesignwetrust.png);
  background-size: cover;
  background-color: #FFFFFF;
  position: relative; }

#extra-services-right {
  background-image: url(/images/stretchedbackground.png);
  background-size: cover;
  position: relative;
  padding-bottom: 20px; }

#extra-services-right h2 {
  color: white;
  margin-top: 40px;
  text-align: center; }

.grey-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF55;
  z-index: 1; }

.extra-service-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  z-index: 2;
  border-radius: 5px; }

.extra-service-container p {
  color: white;
  padding-bottom: 0; }

.extra-service-container h3 {
  color: white;
  text-align: left;
  margin-left: 30px;
  margin-bottom: 0; }

.extra-service-container:hover {
  background-color: #FFFFFFA0; }

.extra-service-text {
  width: 390px; }

.arrow-button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 40px;
  text-align: center;
  position: relative;
  bottom: 5px;
  z-index: 3;
  color: #707070; }

.arrow-button > span {
  position: relative;
  bottom: 4px;
  left: 2px; }

#arrow-button-support {
  background-color: #605970; }

#arrow-button-spread {
  background-color: #1A7781; }

.carousel-item {
  margin-top: 50px;
  margin-bottom: 50px; }

.carousel-control-next-icon:after {
  content: '>';
  font-size: 55px;
  color: #4A4A4A; }

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: #4A4A4A; }

.carousel-indicators li {
  background-color: #DDE0d4; }

.carousel-indicators .active {
  background-color: #4A4A4A; }

#about-section {
  background-color: #605970; }
  #about-section h2 {
    color: white;
    padding-top: 30px;
    font-family: "Poppins", sans-serif; }
  #about-section p {
    color: white;
    margin: 0 0 10px 0; }
  #about-section .row {
    padding: 20px 0; }

.bio-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  padding-left: 20px;
  padding-right: 20px; }

.person-name {
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .person-name h3 {
    color: white;
    margin: 0;
    padding: 0;
    height: auto;
    text-align: center; }

.person-photo {
  width: 225px;
  flex-grow: 0;
  margin: 20px 0 0 0; }

.person-desc {
  width: 150px;
  flex-grow: 1; }
  @media only screen and (min-width: 768px) {
    .person-desc {
      margin-top: 20px; } }
  .person-desc p {
    padding-left: 10px;
    padding-right: 6px; }

.contact-section {
  background-color: #DDE0d4;
  padding-bottom: 20px; }

.contact-section h2 {
  color: white;
  padding-top: 30px;
  font-family: "Poppins", sans-serif; }

.contact-section p {
  color: white;
  margin-bottom: 0; }

a {
  color: #605970; }

#contact-form-container {
  margin: 0 auto; }

#contact-form {
  padding: 15px; }

input {
  background-color: #DDE0d4;
  box-shadow: 0;
  border: none;
  border-bottom: 1px solid white;
  margin: 0;
  color: white; }

#name-input {
  width: 100%; }

#email-input {
  width: 100%; }

#message-input {
  background-color: #DDE0d4;
  border: none;
  resize: none;
  border-bottom: 1px solid white;
  width: 100%;
  padding: 0 1px;
  color: white;
  margin-top: 10px; }

#sendButton {
  text-align: center;
  border: none;
  background-color: #DDE0d4;
  color: white;
  font-size: 150%; }

#sendButton:hover {
  cursor: pointer; }

::placeholder {
  color: white; }

#form-success {
  display: none; }

.footer-section {
  background-color: #F5F5F5;
  padding: 30px 5px; }
  .footer-section p {
    text-align: center;
    font-size: 14px;
    font-weight: 200;
    margin-bottom: 0; }
  .footer-section #copyright {
    font-size: 18px;
    color: #605970;
    padding-top: 20px; }

.grey-hover-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; }
  .grey-hover-overlay:hover {
    background-color: #FFFFFF55; }

#resource-centre-sections {
  text-align: center;
  margin-bottom: 60px; }
  #resource-centre-sections a:hover {
    text-decoration: none;
    background-color: red;
    z-index: 3; }
  #resource-centre-sections h2 {
    font-family: "Poppins", sans-serif;
    color: white;
    font-size: 26px;
    padding: 0px 10px; }
  #resource-centre-sections p {
    font-family: "Poppins", sans-serif;
    color: white;
    font-size: 18px;
    padding-bottom: 0; }
  #resource-centre-sections .col-md-6 {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly; }
  #resource-centre-sections .row {
    position: relative;
    z-index: 2; }
    #resource-centre-sections .row .image-block {
      height: 150px; }
    #resource-centre-sections .row img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0.5; }
  #resource-centre-sections .row:hover {
    background-color: #FFFFFFA0; }
  #resource-centre-sections .spacer {
    height: 20px;
    width: 100%; }
  @media only screen and (min-width: 768px) {
    #resource-centre-sections h2 {
      font-size: 36px;
      padding: 0px 10px; }
    #resource-centre-sections p {
      font-size: 18px; }
    #resource-centre-sections .col-md-6 {
      padding: 0; }
    #resource-centre-sections .row .image-block {
      height: auto; }
    #resource-centre-sections .row img {
      width: 100%;
      height: 100%;
      object-fit: cover; } }
  #resource-centre-sections #row-1 {
    background-color: #DDE0d4; }
  #resource-centre-sections #row-2 {
    background-color: #605970; }
  #resource-centre-sections #row-3 {
    background-color: #56F987; }
  #resource-centre-sections #row-4 {
    background-color: #1A7781; }
  #resource-centre-sections #row-5 {
    background-color: #DDE0d4; }
  #resource-centre-sections #row-6 {
    background-color: #605970; }

.article-list-item-wrapper {
  position: relative;
  padding: 0;
  margin-bottom: 50px; }
  .article-list-item-wrapper a:hover {
    text-decoration: none; }
  .article-list-item-wrapper .article-list-image {
    position: absolute;
    height: 100%; }
    @media only screen and (min-width: 768px) {
      .article-list-item-wrapper .article-list-image {
        position: absolute;
        right: 0;
        top: 0;
        width: 50%; } }
    .article-list-item-wrapper .article-list-image img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      margin: 0; }
  .article-list-item-wrapper .article-list-text {
    position: relative;
    margin: 15px;
    border-radius: 5px;
    background-color: #FFFFFFA0; }
    @media only screen and (min-width: 768px) {
      .article-list-item-wrapper .article-list-text {
        width: 50%;
        margin: 0;
        background-color: none; } }
    .article-list-item-wrapper .article-list-text h2 {
      margin: 0; }
    .article-list-item-wrapper .article-list-text p {
      margin: 0; }

.capitals {
  text-transform: uppercase; }

.article-formatting p {
  max-width: 100%;
  border: 1px solid green; }
  .article-formatting p img {
    width: 100%;
    height: 100%;
    max-width: 500px;
    object-fit: cover;
    margin: 0 auto;
    border: 1px solid red; }
.article-formatting h2 {
  font-family: "Poppins", sans-serif;
  font-size: 34px; }
.article-formatting h3 {
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  text-align: left;
  font-size: 28px; }
.article-formatting img {
  text-align: center;
  display: block;
  margin: 0 auto; }

.no-padding {
  padding: 0; }

.slideshow {
  position: relative;
  overflow: hidden;
  margin: 0;
  width: 100%; }
  .slideshow .slideshow-radio {
    display: none; }
  .slideshow .slideshow-rail {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }
  .slideshow .slideshow-controls {
    position: relative;
    z-index: 1;
    display: none;
    width: 100%;
    height: 100%; }
  .slideshow .slide-control {
    position: absolute;
    top: 78%;
    width: 30px;
    height: 30px;
    border-width: 5px 5px 0 0;
    border-style: solid;
    margin-top: -15px; }
    .slideshow .slide-control:hover {
      cursor: pointer; }
    @media only screen and (min-width: 576px) {
      .slideshow .slide-control {
        top: 50%; } }
  .slideshow .prev-slide {
    left: 30px;
    transform: rotate(-135deg); }
  .slideshow .next-slide {
    right: 30px;
    transform: rotate(45deg); }
  .slideshow .slide {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0; }
    .slideshow .slide img {
      margin-top: 20px;
      max-width: 100%; }
    @media only screen and (min-width: 576px) {
      .slideshow .slide {
        display: flex;
        align-items: center; }
        .slideshow .slide img {
          margin-top: 0; } }
  .slideshow .slideshow-rail {
    transition: transform 1s; }
  .slideshow .slide-indicator {
    position: absolute;
    bottom: calc((48vw - 20px - 100px) / 2);
    left: 50%;
    z-index: 3;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer; }
    @media only screen and (min-width: 576px) {
      .slideshow .slide-indicator {
        bottom: 20px; } }
  .slideshow .slideshow-radio:nth-of-type(1):checked ~ .slide-indicator-1 {
    border: 1px solid white; }
  .slideshow .slideshow-radio:nth-of-type(2):checked ~ .slide-indicator-2 {
    border: 1px solid white; }
  .slideshow .slideshow-radio:nth-of-type(3):checked ~ .slide-indicator-3 {
    border: 1px solid white; }
  .slideshow h2 {
    color: white;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3; }
  .slideshow p {
    color: white;
    text-align: center;
    width: 60%;
    margin: 0 auto;
    padding: 0; }
  .slideshow .slideshow-rail .slide:nth-of-type(1) {
    transform: translateX(100%); }
  .slideshow .slideshow-rail .slide:nth-of-type(2) {
    transform: translateX(200%); }
  .slideshow .slideshow-rail .slide:nth-of-type(3) {
    transform: translateX(300%); }
  .slideshow .slideshow-radio:nth-of-type(1):checked ~ .slideshow-rail {
    transform: translateX(-100%); }
  .slideshow .slideshow-radio:nth-of-type(2):checked ~ .slideshow-rail {
    transform: translateX(-200%); }
  .slideshow .slideshow-radio:nth-of-type(3):checked ~ .slideshow-rail {
    transform: translateX(-300%); }
  .slideshow .slideshow-radio:nth-of-type(1):checked ~ #slide-1-controls {
    display: block; }
  .slideshow .slideshow-radio:nth-of-type(2):checked ~ #slide-2-controls {
    display: block; }
  .slideshow .slideshow-radio:nth-of-type(3):checked ~ #slide-3-controls {
    display: block; }

.homepage-slideshow {
  height: 100vw;
  max-height: 576px; }
  .homepage-slideshow .slide-indicator-1 {
    background-color: #13C3C6;
    transform: translateX(-50px); }
  .homepage-slideshow .slide-indicator-2 {
    background-color: #929292;
    transform: translateX(-10px); }
  .homepage-slideshow .slide-indicator-3 {
    background-color: #FF636B;
    transform: translateX(30px); }
  .homepage-slideshow .slide-control {
    border-color: #DDE0d4; }
    .homepage-slideshow .slide-control:hover {
      border-color: #4A4A4A; }
  .homepage-slideshow img {
    margin: 0 auto 50px auto; }
  .homepage-slideshow #see-portfolio-h2 {
    color: white;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    bottom: calc((48vw - 20px) / 2);
    width: 200px;
    background-color: #56F987;
    font-size: 20px;
    padding: 10px 18px 6px 18px;
    border-radius: 4px; }
    @media only screen and (min-width: 576px) {
      .homepage-slideshow #see-portfolio-h2 {
        bottom: 65px; } }
    .homepage-slideshow #see-portfolio-h2:hover {
      cursor: pointer; }

.testimonials-slideshow {
  display: none; }
  @media only screen and (min-width: 576px) {
    .testimonials-slideshow {
      display: block;
      height: 350px; }
      .testimonials-slideshow .slide-indicator-1 {
        background-color: #13C3C6;
        transform: translateX(-50px); }
      .testimonials-slideshow .slide-indicator-2 {
        background-color: #929292;
        transform: translateX(-10px); }
      .testimonials-slideshow .slide-indicator-3 {
        background-color: #FF636B;
        transform: translateX(30px); }
      .testimonials-slideshow .slide-1 {
        background-color: #13C3C6; }
      .testimonials-slideshow .slide-2 {
        background-color: #929292; }
      .testimonials-slideshow .slide-3 {
        background-color: #FF636B; }
      .testimonials-slideshow .slide-control {
        border-color: #FFFFFFA0; }
        .testimonials-slideshow .slide-control:hover {
          border-color: white; }
      .testimonials-slideshow h2 {
        top: 40px;
        width: 325px; } }

.portfolio-intro h1 {
  font-weight: 300; }

.portfolio {
  padding-top: 0px; }
  @media only screen and (min-width: 576px) {
    .portfolio {
      padding-top: 40px; } }
  .portfolio .row {
    padding: 20px 0 0 0; }
    .portfolio .row hr {
      border-width: 1px;
      width: 80%; }
    .portfolio .row img {
      max-width: 100%;
      padding-bottom: 30px; }
    .portfolio .row .portfolio-text a {
      font-family: "Poppins", sans-serif;
      font-size: 20px; }
      .portfolio .row .portfolio-text a:hover {
        font-color: #605970 !important; }
  .portfolio hr:nth-of-type(1) {
    border-color: #13C3C6; }
  .portfolio hr:nth-of-type(2) {
    border-color: #929292; }
  .portfolio hr:nth-of-type(3) {
    border-color: #FF636B; }
  .portfolio hr:nth-of-type(4) {
    border-color: #FFA963; }
  .portfolio hr:nth-of-type(5) {
    border-color: #13C3C6; }
  .portfolio hr:nth-of-type(6) {
    border-color: #929292; }

.services-intro {
  background-color: #DDE0d4; }

.always-included {
  text-align: left;
  padding: 40px 0; }
  .always-included h2 {
    text-align: center;
    padding-bottom: 30px; }
  .always-included .row {
    width: 100%;
    margin: 0;
    padding: 0; }
  .always-included table {
    width: 320px;
    margin: 0 auto;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    color: #4A4A4A;
    font-weight: 200; }
    .always-included table tr {
      padding: 0 0px; }
      .always-included table tr .tick {
        width: 40px; }

.additional-features-heading {
  padding: 40px 0 0 0; }
  .additional-features-heading h2, .additional-features-heading p {
    text-align: center; }

.service-selection-scroll-container {
  position: relative;
  height: 0;
  width: 100%; }
  .service-selection-scroll-container .service-selection-scroll {
    position: absolute;
    z-index: 3;
    top: 170px;
    width: 50px;
    height: 50px;
    border-width: 5px 5px 0 0;
    border-style: solid;
    border-color: #605970;
    margin-top: -15px;
    display: none; }
    .service-selection-scroll-container .service-selection-scroll:hover {
      cursor: pointer;
      border-color: #1A7781; }
  .service-selection-scroll-container .left-scroll {
    left: 30px;
    transform: rotate(-135deg); }
  .service-selection-scroll-container .right-scroll {
    right: 30px;
    transform: rotate(45deg); }

.service-selection-container {
  width: 100%;
  height: 350px;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 0;
  position: relative; }
  .service-selection-container .service-selection-box-wrapper {
    width: 2550px;
    height: 400px;
    position: relative;
    padding: 0; }
    .service-selection-container .service-selection-box-wrapper .service-checkbox {
      display: none; }
    .service-selection-container .service-selection-box-wrapper #service-box-label-1 {
      transform: translateX(0px); }
    .service-selection-container .service-selection-box-wrapper #service-box-label-2 {
      transform: translateX(300px); }
    .service-selection-container .service-selection-box-wrapper #service-box-label-3 {
      transform: translateX(600px); }
    .service-selection-container .service-selection-box-wrapper #service-box-label-4 {
      transform: translateX(900px); }
    .service-selection-container .service-selection-box-wrapper #service-box-label-5 {
      transform: translateX(1200px); }
    .service-selection-container .service-selection-box-wrapper #service-box-label-6 {
      transform: translateX(1500px); }
    .service-selection-container .service-selection-box-wrapper #service-box-label-7 {
      transform: translateX(1800px); }
    .service-selection-container .service-selection-box-wrapper #service-box-label-8 {
      transform: translateX(2100px); }
    .service-selection-container .service-selection-box-wrapper .service-box-label {
      width: 250px;
      height: 300px;
      position: absolute;
      top: 25px;
      left: 100px;
      background-color: white;
      border-radius: 10px;
      padding: 30px;
      margin: 0;
      box-shadow: 0 0 5px 1px #DDE0d4; }
      .service-selection-container .service-selection-box-wrapper .service-box-label:hover {
        cursor: pointer;
        background-color: #eaeaea; }
        .service-selection-container .service-selection-box-wrapper .service-box-label:hover .service-box-image {
          background-color: #eaeaea; }
      .service-selection-container .service-selection-box-wrapper .service-box-label .service-box-label-content .service-description {
        position: absolute;
        left: 25px;
        bottom: 10px;
        height: 100px;
        display: flex;
        width: 200px;
        justify-content: center;
        align-items: center; }
        .service-selection-container .service-selection-box-wrapper .service-box-label .service-box-label-content .service-description p {
          color: #4A4A4A;
          font-size: 18px;
          text-align: center; }
      .service-selection-container .service-selection-box-wrapper .service-box-label .service-box-image {
        position: absolute;
        top: 40px;
        left: 62.5px;
        z-index: 1;
        width: 125px;
        background-color: white; }
        .service-selection-container .service-selection-box-wrapper .service-box-label .service-box-image img {
          width: 100%; }
      .service-selection-container .service-selection-box-wrapper .service-box-label .service-box-selected-image {
        z-index: 0; }
    .service-selection-container .service-selection-box-wrapper .service-checkbox:nth-of-type(1):checked ~ #service-box-label-1 {
      background-color: #56F987;
      box-shadow: inset 0 0 10px #4A4A4A; }
      .service-selection-container .service-selection-box-wrapper .service-checkbox:nth-of-type(1):checked ~ #service-box-label-1 .service-box-image {
        background-color: white; }
      .service-selection-container .service-selection-box-wrapper .service-checkbox:nth-of-type(1):checked ~ #service-box-label-1 .service-box-selected-image {
        z-index: 2; }
      .service-selection-container .service-selection-box-wrapper .service-checkbox:nth-of-type(1):checked ~ #service-box-label-1 .service-box-label-content p {
        color: white; }
    .service-selection-container .service-selection-box-wrapper .service-checkbox:nth-of-type(2):checked ~ #service-box-label-2 {
      background-color: #56F987;
      box-shadow: inset 0 0 10px #4A4A4A; }
      .service-selection-container .service-selection-box-wrapper .service-checkbox:nth-of-type(2):checked ~ #service-box-label-2 .service-box-image {
        background-color: white; }
      .service-selection-container .service-selection-box-wrapper .service-checkbox:nth-of-type(2):checked ~ #service-box-label-2 .service-box-selected-image {
        z-index: 2; }
      .service-selection-container .service-selection-box-wrapper .service-checkbox:nth-of-type(2):checked ~ #service-box-label-2 .service-box-label-content p {
        color: white; }
    .service-selection-container .service-selection-box-wrapper .service-checkbox:nth-of-type(3):checked ~ #service-box-label-3 {
      background-color: #56F987;
      box-shadow: inset 0 0 10px #4A4A4A; }
      .service-selection-container .service-selection-box-wrapper .service-checkbox:nth-of-type(3):checked ~ #service-box-label-3 .service-box-image {
        background-color: white; }
      .service-selection-container .service-selection-box-wrapper .service-checkbox:nth-of-type(3):checked ~ #service-box-label-3 .service-box-selected-image {
        z-index: 2; }
      .service-selection-container .service-selection-box-wrapper .service-checkbox:nth-of-type(3):checked ~ #service-box-label-3 .service-box-label-content p {
        color: white; }
    .service-selection-container .service-selection-box-wrapper .service-checkbox:nth-of-type(4):checked ~ #service-box-label-4 {
      background-color: #56F987;
      box-shadow: inset 0 0 10px #4A4A4A; }
      .service-selection-container .service-selection-box-wrapper .service-checkbox:nth-of-type(4):checked ~ #service-box-label-4 .service-box-image {
        background-color: white; }
      .service-selection-container .service-selection-box-wrapper .service-checkbox:nth-of-type(4):checked ~ #service-box-label-4 .service-box-selected-image {
        z-index: 2; }
      .service-selection-container .service-selection-box-wrapper .service-checkbox:nth-of-type(4):checked ~ #service-box-label-4 .service-box-label-content p {
        color: white; }
    .service-selection-container .service-selection-box-wrapper .service-checkbox:nth-of-type(5):checked ~ #service-box-label-5 {
      background-color: #56F987;
      box-shadow: inset 0 0 10px #4A4A4A; }
      .service-selection-container .service-selection-box-wrapper .service-checkbox:nth-of-type(5):checked ~ #service-box-label-5 .service-box-image {
        background-color: white; }
      .service-selection-container .service-selection-box-wrapper .service-checkbox:nth-of-type(5):checked ~ #service-box-label-5 .service-box-selected-image {
        z-index: 2; }
      .service-selection-container .service-selection-box-wrapper .service-checkbox:nth-of-type(5):checked ~ #service-box-label-5 .service-box-label-content p {
        color: white; }
    .service-selection-container .service-selection-box-wrapper .service-checkbox:nth-of-type(6):checked ~ #service-box-label-6 {
      background-color: #56F987;
      box-shadow: inset 0 0 10px #4A4A4A; }
      .service-selection-container .service-selection-box-wrapper .service-checkbox:nth-of-type(6):checked ~ #service-box-label-6 .service-box-image {
        background-color: white; }
      .service-selection-container .service-selection-box-wrapper .service-checkbox:nth-of-type(6):checked ~ #service-box-label-6 .service-box-selected-image {
        z-index: 2; }
      .service-selection-container .service-selection-box-wrapper .service-checkbox:nth-of-type(6):checked ~ #service-box-label-6 .service-box-label-content p {
        color: white; }
    .service-selection-container .service-selection-box-wrapper .service-checkbox:nth-of-type(7):checked ~ #service-box-label-7 {
      background-color: #56F987;
      box-shadow: inset 0 0 10px #4A4A4A; }
      .service-selection-container .service-selection-box-wrapper .service-checkbox:nth-of-type(7):checked ~ #service-box-label-7 .service-box-image {
        background-color: white; }
      .service-selection-container .service-selection-box-wrapper .service-checkbox:nth-of-type(7):checked ~ #service-box-label-7 .service-box-selected-image {
        z-index: 2; }
      .service-selection-container .service-selection-box-wrapper .service-checkbox:nth-of-type(7):checked ~ #service-box-label-7 .service-box-label-content p {
        color: white; }
    .service-selection-container .service-selection-box-wrapper .service-checkbox:nth-of-type(8):checked ~ #service-box-label-8 {
      background-color: #56F987;
      box-shadow: inset 0 0 10px #4A4A4A; }
      .service-selection-container .service-selection-box-wrapper .service-checkbox:nth-of-type(8):checked ~ #service-box-label-8 .service-box-image {
        background-color: white; }
      .service-selection-container .service-selection-box-wrapper .service-checkbox:nth-of-type(8):checked ~ #service-box-label-8 .service-box-selected-image {
        z-index: 2; }
      .service-selection-container .service-selection-box-wrapper .service-checkbox:nth-of-type(8):checked ~ #service-box-label-8 .service-box-label-content p {
        color: white; }

.hide-scrollbar {
  width: 100%;
  height: 20px;
  position: relative;
  bottom: 20px;
  z-index: 3;
  background-color: white;
  display: none; }

.estimate-section {
  background-color: white;
  padding: 40px 0; }
  .estimate-section p {
    color: #4A4A4A; }
  .estimate-section #price-estimate {
    display: none;
    text-align: center;
    font-size: 30px;
    background-color: #56F987;
    padding: 0 20px;
    border-radius: 10px;
    margin: 0 auto 20px auto;
    text-align: center;
    max-width: 400px; }

.faq-section {
  background-color: #605970;
  padding: 40px 0; }
  .faq-section h2 {
    text-align: center;
    color: white;
    padding-bottom: 30px; }
  .faq-section p {
    color: white; }
  .faq-section .question {
    width: calc(100% - 50px); }
  .faq-section .expand-arrow {
    position: absolute;
    top: 2px;
    right: 15px;
    width: 20px;
    height: 20px;
    border-bottom: 4px solid #1A7781;
    border-right: 4px solid #1A7781;
    transform: rotate(45deg); }
  .faq-section .answer {
    height: 0;
    overflow: hidden; }
    .faq-section .answer p {
      font-size: 18px; }
    .faq-section .answer a {
      color: #1A7781; }
  .faq-section .question-label {
    position: relative;
    margin: 0 10px; }
  .faq-section .question-checkbox {
    display: none; }
  .faq-section .question-checkbox:nth-of-type(1):checked ~ .question-label:nth-of-type(1) .expand-arrow {
    transform: rotate(225deg);
    top: 15px; }
  .faq-section .question-checkbox:nth-of-type(1):checked ~ .question-label:nth-of-type(1) .answer {
    height: auto; }
  .faq-section .question-checkbox:nth-of-type(2):checked ~ .question-label:nth-of-type(2) .expand-arrow {
    transform: rotate(225deg);
    top: 15px; }
  .faq-section .question-checkbox:nth-of-type(2):checked ~ .question-label:nth-of-type(2) .answer {
    height: auto; }
  .faq-section .question-checkbox:nth-of-type(3):checked ~ .question-label:nth-of-type(3) .expand-arrow {
    transform: rotate(225deg);
    top: 15px; }
  .faq-section .question-checkbox:nth-of-type(3):checked ~ .question-label:nth-of-type(3) .answer {
    height: auto; }
  .faq-section .question-checkbox:nth-of-type(4):checked ~ .question-label:nth-of-type(4) .expand-arrow {
    transform: rotate(225deg);
    top: 15px; }
  .faq-section .question-checkbox:nth-of-type(4):checked ~ .question-label:nth-of-type(4) .answer {
    height: auto; }
  .faq-section .question-checkbox:nth-of-type(5):checked ~ .question-label:nth-of-type(5) .expand-arrow {
    transform: rotate(225deg);
    top: 15px; }
  .faq-section .question-checkbox:nth-of-type(5):checked ~ .question-label:nth-of-type(5) .answer {
    height: auto; }
  .faq-section .question-checkbox:nth-of-type(6):checked ~ .question-label:nth-of-type(6) .expand-arrow {
    transform: rotate(225deg);
    top: 15px; }
  .faq-section .question-checkbox:nth-of-type(6):checked ~ .question-label:nth-of-type(6) .answer {
    height: auto; }
  .faq-section .question-checkbox:nth-of-type(7):checked ~ .question-label:nth-of-type(7) .expand-arrow {
    transform: rotate(225deg);
    top: 15px; }
  .faq-section .question-checkbox:nth-of-type(7):checked ~ .question-label:nth-of-type(7) .answer {
    height: auto; }
  .faq-section .question-checkbox:nth-of-type(8):checked ~ .question-label:nth-of-type(8) .expand-arrow {
    transform: rotate(225deg);
    top: 15px; }
  .faq-section .question-checkbox:nth-of-type(8):checked ~ .question-label:nth-of-type(8) .answer {
    height: auto; }
  .faq-section .question-checkbox:nth-of-type(9):checked ~ .question-label:nth-of-type(9) .expand-arrow {
    transform: rotate(225deg);
    top: 15px; }
  .faq-section .question-checkbox:nth-of-type(9):checked ~ .question-label:nth-of-type(9) .answer {
    height: auto; }
  .faq-section .question-checkbox:nth-of-type(10):checked ~ .question-label:nth-of-type(10) .expand-arrow {
    transform: rotate(225deg);
    top: 15px; }
  .faq-section .question-checkbox:nth-of-type(10):checked ~ .question-label:nth-of-type(10) .answer {
    height: auto; }

.thankyou-page p {
  text-align: center; }

/*# sourceMappingURL=style.css.map */
