{{ partial "head.html" . }}

<div class="container">
    <h1>{{ .Params.article_list_h1 }}</h1>
    <p>{{ .Content }}</p>
</div>
    
{{ range .Pages.ByParam "order" }}
<div class="container article-list-item-wrapper">
    <a href="{{ .Permalink }}">
        <div class="article-list-image">
            {{ $resource := (.Site.GetPage "section" "uploads").Resources.GetMatch (strings.TrimPrefix "/uploads/" .Params.article_image) }}
            {{ $resizedSmall := $resource.Resize "400x" }}
            {{ $resizedMed := $resource.Resize "800x" }}
            <img srcset="{{$resizedSmall.Permalink}} 400w,
                         {{$resizedMed.Permalink}} 800w"
                 src="{{$resource.Permalink}}">

        </div>
        <div class="article-list-text">
            <h2 class="capitals">{{ .Params.article_h1 }}</h2>
            <p>{{ .Params.article_summary }}</p>
        </div>
    </a>
</div>
{{ end }}

{{ partial "footer.html" . }}