{{ partial "head.html" . }}

<div class="intro-background">
    <div id="background-1">
        <div id="background-1-1"></div>
        <div id="background-1-2"></div>
    </div>
    <div id="background-2">
        <div id="background-2-1"></div>
    </div>
    
    <div class="intro-line-container">
        <div id="intro-line-movement">
            <h1 id="intro-line">We’re Micro. We do more than just build websites. We create the brand behind them &mdash; whatever size your&nbsp;business.</h1>
        </div>
    </div>
    
    <div id="micro-summary">
        <h2 class="capitals">Affordable<br>Websites &amp; Branding</h2>
        <div class="row">
            <div class="col-lg-6 text-column">
                <p>We’re a Sheffield based web design company that specialise in creating affordable, custom sites for small businesses. All our sites are secure, google friendly, and adapt to mobile and tablet. There’s no copy and paste templates: your site will be as unique as your business. Prices start from just £{{ .Site.Params.basePrice }} &mdash; head to our <a href="/services/">Services page</a> for an instant&nbsp;quote.</p>
            </div>
            <div class="col-lg-6">
                <div class= column-container>
                    <div id="portfolio-shell-laptop">{{ partial "portfolio-shell-laptop.svg" . }}</div>
                    <picture class="portfolio-laptop-animation" id="portfolio-laptop-animation-0">
                        <source srcset="/images/timballpaintings-laptop.webp" type="image/webp">
                        <img src="/images/timballpaintings-laptop.png"> 
                    </picture>
                    <picture class="portfolio-laptop-animation" id="portfolio-laptop-animation-1">
                        <source srcset="/images/lifeconsultinggroup-laptop.webp" type="image/webp">
                        <img src="/images/lifeconsultinggroup-laptop.png"> 
                    </picture>
                    <picture class="portfolio-laptop-animation" id="portfolio-laptop-animation-2">
                        <source srcset="/images/northendknitting-laptop.webp" type="image/webp">
                        <img src="/images/northendknitting-laptop.png"> 
                    </picture>
                    <picture class="portfolio-laptop-animation" id="portfolio-laptop-animation-3">
                        <source srcset="/images/simplicitysocialmedia-laptop.webp" type="image/webp">
                        <img src="/images/simplicitysocialmedia-laptop.png"> 
                    </picture>
                    <div id="portfolio-shell-mobile">{{ partial "portfolio-shell-mobile.svg" . }}</div>
                    <picture class="portfolio-mobile-animation" id="portfolio-mobile-animation-0">
                        <source srcset="/images/timballpaintings-mobile.webp" type="image/webp">
                        <img src="/images/timballpaintings-mobile.png"> 
                    </picture>
                    <picture class="portfolio-mobile-animation" id="portfolio-mobile-animation-1">
                        <source srcset="/images/lifeconsultinggroup-mobile.webp" type="image/webp">
                        <img src="/images/lifeconsultinggroup-mobile.png"> 
                    </picture>
                    <picture class="portfolio-mobile-animation" id="portfolio-mobile-animation-2">
                        <source srcset="/images/northendknitting-mobile.webp" type="image/webp">
                        <img src="/images/northendknitting-mobile.png"> 
                    </picture>
                    <picture class="portfolio-mobile-animation" id="portfolio-mobile-animation-3">
                        <source srcset="/images/simplicitysocialmedia-mobile.webp" type="image/webp">
                        <img src="/images/simplicitysocialmedia-mobile.png"> 
                    </picture>
                </div>
            </div>
        </div>
        <div>
            <a href="/portfolio"><p id="portfolio-button" class="capitals">See Portfolio</p></a>
        </div>
    </div>
</div>

<div class="container-fluid features-background">
    <!--<div class="container">-->
        <div class="row feature-columns-row">
            <div class="col-md-6 col-lg-3">
                <div class="svg-img">
                    {{ partial "envelope.svg" . }}
                </div>
                <h3 class="capitals">360<br>APPROACH</h3>
                <p>Save time and create a coherent, profesional look with our total brand approach.</p>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="svg-img">
                    {{ partial "pound-icon.svg" . }}
                </div>
                <h3 class="capitals">MICRO<br>PRICES</h3>
                <p>Build your own package, only paying for exactly what you need.</p>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="svg-img">
                    {{ partial "map-icon.svg" . }}
                </div>
                <h3 class="capitals">Never Outsourced</h3>
                <p>Everything is done by our small, Sheffield-based team, not outsourced to freelancers.</p>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="svg-img">
                    {{ partial "calendar-icon.svg" . }}
                </div>
                <h3 class="capitals">QUICK TURNAROUND</h3>
                <p>We turn around custom websites in weeks, not months.</p>
            </div>
        </div>
    <!--</div>-->
</div>

<div class="container-fluid features-and-about-background">
    <h2 class="capitals">About Us</h2>
    <div class="row about-row">
        <div class="col-lg-6 about-image">
<!--            <img src="images/blue-both.png">-->
            <picture>
                <source srcset="/images/blue-both.webp" type="image/webp">
                <img src="images/blue-both.png" alt="micro boutique branding co-founders">
            </picture>
        </div>
        <div class="col-lg-6">
            <h2 class="capitals">About Us</h2>
            <p>When we started our first business, we struggled to find an affordable website. We didn't want a copy-and-paste site or to be tied to a site builder, but we didn't have a big budget.</p>
            <p>That’s why we started Micro &mdash; to be the service we couldn't find. Drawing on our first-hand business experience, we develop eye-catching websites that help small businesses compete with corporate giants and reach more customers.</p>
            <p>We work with consultants, freelancers, and businesses across South Yorkshire, the UK and the US. <a href="/#contact">Get in touch</a> for a chat about your project.</p>
        </div>
    </div>
</div>

{{ partial "contact.html" . }}

{{ partial "social.html" . }}

{{ partial "footer.html" . }}