{{ partial "head.html" . }}

<div class="intro-background">
    <div id="background-1">
        <div id="background-1-1"></div>
        <div id="background-1-2"></div>
    </div>
    <div id="background-2">
        <div id="background-2-1"></div>
    </div>
    
    <h1 id="intro-line">{{ .Params.banner_headline | safeHTML }}</h1>
    
    <div id="micro-summary">
        <h2 class="capitals">Affordable<br>Websites &amp; Branding</h2>
        <div class="row">
            <div class="col-lg-6">
                <p>For a website to really stand out, every part needs to match perfectly, giving a unified impression of the brand. That's why we handle every aspect of your site, from the words, to the logo, to the site build, creating a custom site that perfectly represents your business.</p>
            </div>
            <div class="col-lg-6">
                <div class= column-container>
                    <img id="portfolio-shell-laptop" src="/images/portfolio-shell-laptop.svg">
                    <img id="portfolio-laptop" src="/images/life-consultancy-group-laptop.png">
                    <img id="portfolio-shell-mobile" src="/images/portfolio-shell-mobile.svg">
                    <img id="portfolio-mobile" src="/images/life-consultancy-group-mobile.png">
                </div>
            </div>
        </div>
        <div>
            <a href="/portfolio"><p id="portfolio-button" class="capitals">See Portfolio</p></a>
        </div>
    </div>
</div>

<div class="container-fluid features-and-about-background">
    <div class="container">
        <div class="row feature-columns-row">
            <div class="col-md-6 col-lg-3">
                <img src="/images/envelope.svg">
                <h3 class="capitals">Subtitle Subtitle</h3>
                <p>Save time and create a coherent, profesional look with our total brand approach.</p>
            </div>
            <div class="col-md-6 col-lg-3">
                <img src="/images/pound-icon.svg">
                <h3 class="capitals">Subtitle</h3>
                <p>Build your own package, only paying for exactly what you need.</p>
            </div>
            <div class="col-md-6 col-lg-3">
                <img src="/images/map-icon.svg">
                <h3 class="capitals">Subtitle</h3>
                <p>Everything is done by our small, UK-based team, not outsourced to freelancers.</p>
            </div>
            <div class="col-md-6 col-lg-3">
                <img src="/images/calendar-icon.svg">
                <h3 class="capitals">Subtitle</h3>
                <p>We turn around custom-coded sites in weeks, not months.</p>
            </div>
        </div>
        <div class="row about-row">
            <div class="col-md-4">
                <img src="images/ro.png">
                <img src="images/chris.png">
            </div>
            <div class="col-md-8">
                <h2 class="capitals">About Us</h2>
                <p>We founded Micro after starting two tiny businesses of our own.</p>
                <p>Finding something between an expensive web design agency and copy-and-paste website templates turned out to be, well, impossible.</p>
                <p>We started Micro to be the service we couldn’t find: affordable web design with all the other bits and pieces that make a brand — all in one place.</p>
                <p>We bring our first hand business experience to every project, helping you shape your brand and communicate it to the world.</p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid contact-background">
    <div class="container">
        <h2 class="capitals">Contact</h2>
        <form>
            <div>
                <label>Name</label>
                <input type="text">
            </div>
            <div>
                <label>Email</label>
                <input type="email">
            </div>
            <div>
                <label>Message</label>
                <textarea rows="5"></textarea>
            </div>
            
        </form>
    </div>
</div>


<!--<div class="container-fluid" id="intro-banner">
    <h1 id="intro-line">{{ .Params.banner_headline | safeHTML }}</h1>
</div>


<div class="container-fluid" id="video-section">
    <div id="mobile-image">
        <img src="/images/mobile-img.png" class="img-fluid">
    </div>
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop" id="backgroundVideo">
        <source src="/images/micro-video.mp4" type="video/mp4">
    </video>
    <div class="dark-grey-overlay"></div>
    <div class="text-over-video">
        <h2 class="capitals">Affordable Website &amp; Branding&nbsp;Packages</h2>
        <p>Designing a website with one company, a logo on fiverr, and copy from someone else doesn't create the unified brand you need for your website to be memorable. Our small team handles every step in house, creating a custom site that perfectly represents your business.</p>
        <a href="/services"><p class="packages-button capitals">See Packages</p></a>
    </div>
</div>



<div class="container-fluid front-page-features">
    <div class="row main-features">
        <div class="col-md-6 col-lg-3">
            <div class="benefit-circle" id="approach"><img id="approach-image" src="/images/360approach.png"></div>
            <div class="features-headings">
                <h3>360 APPROACH</h3>
            </div>
            <p class="text-center">Create a coherent look, save time, and get great value by getting everything in one place.</p>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="benefit-circle" id="micro-prices"><img id="micro-prices-image" src="/images/microprices.png"></div>
            <div class="features-headings">
                <h3>MICRO PRICES</h3>
            </div>
            <p class="text-center">A website, all content, a logo, and a business card design starting from just £599.</p>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="benefit-circle" id="never-outsourced"><img id="never-outsourced-image" src="/images/neveroutsourced.png"></div>
            <div class="features-headings">
                <h3>NEVER OUTSOURCED</h3>
            </div>
            <p class="text-center">UK based, native English speakers — talk directly to the people working on your project.</p>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="benefit-circle" id="quick-turnaround"><img id="quick-turnaround-image" src="/images/quickturnaround.png"></div>
            <div class="features-headings">
                <h3>QUICK TURNAROUND</h3>
            </div>
            <p class="text-center">Know exactly when we're working on your project and have it back in days not months.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 d-none d-lg-block" id="extra-services-left">
            <div class="grey-overlay"></div>
        </div>
        <div class="col-lg-6" id="extra-services-right">
            <div class="grey-overlay"></div>
            <h2>EXTRA SERVICES</h2>
            <div class="extra-service-container">
                <div class="extra-service-text">
                    <h3>SUPPORT PLUS</h3>
                    <p>Let us handle updates and send you website traffic insights.</p>
                </div>
                <div class="arrow-button" id="arrow-button-support">
                    <span>></span>
                </div>
            </div>
            <div class="extra-service-container">
                <div class="extra-service-text">
                    <h3>SPREAD THE WORD</h3>
                    <p>Post on social media every day without even logging in.</p>
                </div>
                <div class="arrow-button" id="arrow-button-spread">
                    <span>></span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid no-padding">
    <div class="slideshow homepage-slideshow">
        <input type="radio" id="slide-1-radio" name="testimonials" class="slideshow-radio" checked="checked">
        <input type="radio" id="slide-2-radio" name="testimonials" class="slideshow-radio">
        <input type="radio" id="slide-3-radio" name="testimonials" class="slideshow-radio">
        <div class="slideshow-controls" id="slide-1-controls">
            <label for="slide-3-radio" class="slide-control prev-slide"></label>
            <label for="slide-2-radio" class="slide-control next-slide"></label>
        </div>
        <div class="slideshow-controls" id="slide-2-controls">
            <label for="slide-1-radio" class="slide-control prev-slide"></label>
            <label for="slide-3-radio" class="slide-control next-slide"></label>
        </div>
        <div class="slideshow-controls" id="slide-3-controls">
            <label for="slide-2-radio" class="slide-control prev-slide"></label>
            <label for="slide-1-radio" class="slide-control next-slide"></label>
        </div>
        <label for="slide-1-radio" class="slide-indicator slide-indicator-1"></label>
        <label for="slide-2-radio" class="slide-indicator slide-indicator-2"></label>
        <label for="slide-3-radio" class="slide-indicator slide-indicator-3"></label>
        <a href="/portfolio"><h2 class="capitals" id="see-portfolio-h2">See Portfolio</h2></a>
        <div class="slideshow-rail">
            <div class="slide slide-1">
                <img src="images/5th-element-integrative.png">
            </div>
            <div class="slide slide-2">
                <img src="images/life-consulting-group.png">
            </div>
            <div class="slide slide-3">
                <img src="images/concept-34.png">
            </div>
        </div>
    </div>
</div>




<div id="portfolio-carousel" class="carousel slide d-none d-md-block" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#portfolio-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#portfolio-carousel" data-slide-to="1"></li>
        <li data-target="#portfolio-carousel" data-slide-to="2"></li>
        <li data-target="#portfolio-carousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block mx-auto" src="/images/genneu.png">
        </div>
        <div class="carousel-item">
            <img class="d-block mx-auto" src="/images/ckcoaching.png">
        </div>
        <div class="carousel-item">
            <img class="d-block mx-auto" src="/images/concept34.png">
        </div>
        <div class="carousel-item">
            <img class="d-block mx-auto" src="/images/portfoliro.png">
        </div>
    </div>
    <a class="carousel-control-prev" href="#portfolio-carousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#portfolio-carousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div id="about-section" class="container-fluid">
    <div class="container">
        <h2>About</h2>
        <p>We founded Micro after starting two tiny businesses of our own.</p>
        <p>Finding something between an expensive web design agency and copy-and-paste website templates turned out to be, well, impossible.</p>
        <p>We started Micro to be the service we couldn’t find: affordable web design with all the other bits and pieces that make a brand — all in one place.</p>
        <p>We bring our first hand business experience to every project, helping you shape your brand and communicate it to the world.</p>
        <div class="row">
            <div class="col-md-6 bio-column">
                <div class="person-photo order-md-1">
                    <img src="/images/ro.png">
                </div>
                <div class="person-name order-md-0">
                    <h3>ROANNA MOTTERSHEAD</h3>
                </div>
                <div class="person-desc order-md-2">
                    <p>With seven years’ experience in marketing and branding, Roanna takes care of the copywriting, design, and social media side of projects.</p>
                </div>
            </div>
            <div class="col-md-6 bio-column">
                <div class="person-photo order-md-1">
                    <img src="/images/chris.png">
                </div>
                <div class="person-name order-md-0">
                    <h3>CHRIS LYNCH</h3>
                </div>
                <div class="person-desc order-md-2">
                    <p>An engineer by training, Chris focuses on coding and building websites. When he's not bringing designs to life, he’s also a beady-eyed editor.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<a name="contact"></a>
<div class="container-fluid contact-section">
    <div class="container">
        <h2>Contact</h2>
        <p>Whether you’re just thinking about going freelance or have already taken the leap, we’d love to hear about your project. Get in touch using the form below or email <a href="mailto: hello@wearemicro.co">hello@wearemicro.co</a>.</p>
    </div>
</div>

<div id="contact-form-container" class="container-fluid contact-section">
    <div class="container">
        <form id="contact-form" method="post" action="https://formspree.io/hello@wearemicro.co">
            <div class="row">
                <div class="col-md-3 offset-md-3">
                    <input id="name-input" type="text" name="name-input" placeholder="Name">
                </div>
                <div class="col-md-3">
                    <input id="email-input" type="email" name="email-address" placeholder="Email">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <textarea id="message-input" rows="3" name="message-input" placeholder="Message"></textarea>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <button id="sendButton">SEND</button>
            </div>
            <input type="hidden" name="_next" value="/thankyou">
        </form>
        <div id="form-alert"></div>
        <div id="form-success" class="alert alert-success" role="alert">Thank you, we will be in contact very soon!</div>
    </div>
</div>
-->


{{ partial "footer.html" . }}