{{ partial "head.html" . }}

<div class="intro-background">
    <div id="background-1">
        <div id="background-1-1"></div>
        <div id="background-1-2"></div>
    </div>
    <div id="background-2">
        <div id="background-2-1"></div>
    </div>
    
    <div class="intro-line-container">
        <div id="intro-line-movement">
            <h1 id="intro-line">We’re Micro. We do more than just build websites. We create the brand behind them &mdash; whatever size your&nbsp;business.</h1>
        </div>
    </div>
    
    <div id="micro-summary">
        <h2 class="capitals">Affordable<br>Websites &amp; Branding</h2>
        <div class="row">
            <div class="col-lg-6 text-column">
                <p>For a website to really stand out, every part needs to match perfectly, giving a unified impression of who you are and what you do. That's why we handle every aspect of your site, from the words, to the logo, to the site build, creating a custom site that perfectly represents your business and allowing you to focus on what you do best.</p>
            </div>
            <div class="col-lg-6">
                <div class= column-container>
                    <div id="portfolio-shell-laptop">{{ partial "portfolio-shell-laptop.svg" . }}</div>
                    <img id="portfolio-laptop-animation-1" src="/images/concept34-laptop.png">
                    <img id="portfolio-laptop-animation-2" src="/images/genneu-laptop.png">
                    <div id="portfolio-shell-mobile">{{ partial "portfolio-shell-mobile.svg" . }}</div>
                    <img id="portfolio-mobile-animation-1" src="/images/concept34-mobile.png">
                    <img id="portfolio-mobile-animation-2" src="/images/genneu-mobile.png">
                </div>
            </div>
        </div>
        <div>
            <a href="/portfolio"><p id="portfolio-button" class="capitals">See Portfolio</p></a>
        </div>
    </div>
</div>

<div class="container-fluid features-background">
    <!--<div class="container">-->
        <div class="row feature-columns-row">
            <div class="col-md-6 col-lg-3">
                <div class="svg-img">
                    {{ partial "envelope.svg" . }}
                </div>
                <h3 class="capitals">360<br>APPROACH</h3>
                <p>Save time and create a coherent, profesional look with our total brand approach.</p>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="svg-img">
                    {{ partial "pound-icon.svg" . }}
                </div>
                <h3 class="capitals">MICRO<br>PRICES</h3>
                <p>Build your own package, only paying for exactly what you need.</p>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="svg-img">
                    {{ partial "map-icon.svg" . }}
                </div>
                <h3 class="capitals">Never Outsourced</h3>
                <p>Everything is done by our small, UK-based team, not outsourced to freelancers.</p>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="svg-img">
                    {{ partial "calendar-icon.svg" . }}
                </div>
                <h3 class="capitals">QUICK TURNAROUND</h3>
                <p>We turn around custom-coded sites in weeks, not months.</p>
            </div>
        </div>
    <!--</div>-->
</div>

<div class="container-fluid features-and-about-background">
    <h2 class="capitals">About Us</h2>
    <div class="row about-row">
        <div class="col-lg-6 about-image">
            <img src="images/blue-both.png">
        </div>
        <div class="col-lg-6">
            <h2 class="capitals">About Us</h2>
            <p>When we started our two businesses, we struggled to find an affordable website. We didn't want a copy-and-paste site or to be tied to a site builder, but we didn't have a big budget.</p>
            <p>We started Micro to be the service we couldn't find. Drawing on our firsthand business experience, we develop eye-catching sites and branding that help freelancers and small businesses compete with corporate giants and grow their business.</p>
            <p>Take a look at the <a href="/services">Services</a> page to build your ideal package or get in touch for a chat about your project.</p>
        </div>
    </div>
</div>

{{ partial "contact.html" . }}

{{ partial "social.html" . }}

{{ partial "footer.html" . }}