{{ partial "head.html" . }}

<div class="template-background services-background">
    <div class="template-background-1"></div>
    <div class="template-background-2"></div>
    <div class="template-background-3"></div>


    <div class="container-fluid page-intro portfolio-intro">
        <div class="container">
            <h1 class="capitals">{{ .Title }}</h1>
        </div>
    </div>

    <div class="container-fluid no-padding">
        <div class="slideshow testimonials-slideshow">
            <input type="radio" id="slide-1-radio" name="testimonials" class="slideshow-radio" checked="checked">
            <input type="radio" id="slide-2-radio" name="testimonials" class="slideshow-radio">
            <input type="radio" id="slide-3-radio" name="testimonials" class="slideshow-radio">
            <input type="radio" id="slide-4-radio" name="testimonials" class="slideshow-radio">
            <input type="radio" id="slide-5-radio" name="testimonials" class="slideshow-radio">
            <input type="radio" id="slide-6-radio" name="testimonials" class="slideshow-radio">
            <div class="slideshow-controls" id="slide-1-controls">
                <label for="slide-6-radio" class="slide-control prev-slide"></label>
                <label for="slide-2-radio" class="slide-control next-slide"></label>
            </div>
            <div class="slideshow-controls" id="slide-2-controls">
                <label for="slide-1-radio" class="slide-control prev-slide"></label>
                <label for="slide-3-radio" class="slide-control next-slide"></label>
            </div>
            <div class="slideshow-controls" id="slide-3-controls">
                <label for="slide-2-radio" class="slide-control prev-slide"></label>
                <label for="slide-4-radio" class="slide-control next-slide"></label>
            </div>
            <div class="slideshow-controls" id="slide-4-controls">
                <label for="slide-3-radio" class="slide-control prev-slide"></label>
                <label for="slide-5-radio" class="slide-control next-slide"></label>
            </div>
            <div class="slideshow-controls" id="slide-5-controls">
                <label for="slide-4-radio" class="slide-control prev-slide"></label>
                <label for="slide-6-radio" class="slide-control next-slide"></label>
            </div>
            <div class="slideshow-controls" id="slide-6-controls">
                <label for="slide-5-radio" class="slide-control prev-slide"></label>
                <label for="slide-1-radio" class="slide-control next-slide"></label>
            </div>
            <label for="slide-1-radio" class="slide-indicator slide-indicator-1"></label>
            <label for="slide-2-radio" class="slide-indicator slide-indicator-2"></label>
            <label for="slide-3-radio" class="slide-indicator slide-indicator-3"></label>
            <label for="slide-4-radio" class="slide-indicator slide-indicator-4"></label>
            <label for="slide-5-radio" class="slide-indicator slide-indicator-5"></label>
            <label for="slide-6-radio" class="slide-indicator slide-indicator-6"></label>
            <div class="slideshow-rail">
                <div class="slide slide-1">
                    <p>“Micro made launching my site easy and enjoyable! They listened to and advised on my branding ideas, created the perfect logo and helped me to understand all the behind the scenes bits and bobs. I’d highly recommend their incredible services!”</p>
                    <p class="quote-person">Leah, Essex</p>
                </div>
                <div class="slide slide-2">
                    <p>“Micro really understood what I wanted for the website and were great to work with. They have made sure I can edit sections of the website, and it’s very simple to do so.”</p>
                    <p class="quote-person">Jane, Wirksworth</p>
                </div>
                <div class="slide slide-3">
                    <p>“Thank you so much for my wonderful website, a truly professional service with advice and regular updates. An amazing bespoke service.”</p>
                    <p class="quote-person">Tim, Derbyshire</p>
                </div>
                <div class="slide slide-4">
                    <p>“I knew I needed a site to grow my freelancing business, but I’m not a technical person and had no idea where to start. Micro turned it round in four days and I love my site.”</p>
                    <p class="quote-person">Courtney, L.A.</p>
                </div>
                <div class="slide slide-5">
                    <p>“Starting a small business is a huge undertaking, and branding took a backseat until Micro came into the picture. They made it so easy and seamless with logo ideation, website design and business cards in weeks, not months.”</p>
                    <p class="quote-person">Angie, Asheville</p>
                </div>
                <div class="slide slide-6">
                    <p>“Roanna and Chris are amazing to work with! Using Micro's process, they were able to translate my vision perfectly even though I had a very difficult time articulating it! I couldn't be happier!”</p>
                    <p class="quote-person">Christina, New York</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container portfolio">

        {{ $.Scratch.Set "counter" 0 }}
        {{ range where (.Pages.ByParam "order") "Params.type" "portfolio" }}
            {{ $.Scratch.Set "counter" (add ($.Scratch.Get "counter") 1) }}

            {{ if gt ($.Scratch.Get "counter") 1 }}
        <hr>
            {{ end }}


        <div class="row">
            <div class="col-lg-6">
                <div class= column-container>
                    <div class="portfolio-shell-laptop">{{ partial "portfolio-shell-laptop.svg" . }}</div>
                    <img class="portfolio-laptop" src="{{ .Params.laptopImg }}">
                    <div class="portfolio-shell-mobile">{{ partial "portfolio-shell-mobile.svg" . }}</div>
                    <img class="portfolio-mobile" src="{{ .Params.mobileImg }}">
                </div>
            </div>
            <div class="col-lg-6 portfolio-text">
                <h2 class="capitals">{{ .Params.company }}</h2>
                <a href="{{ .Params.linkURL }}" target="_blank">{{ .Params.linkName }}</a>
                <p>{{ .Params.description }}</p>
            </div>
        </div>
        {{ end }}

    </div>
    {{ partial "contact.html" . }}
    {{ partial "footer.html" . }}
</div>
