{{ partial "head.html" . }}

<div class="container-fluid">
    <div class="container">
        <h1>{{ .Params.resource_centre_h1 }}</h1>
        <p>{{ .Content }}</p>
    </div>
</div>
<div class="container" id="resource-centre-sections">
    <div class="row">
        <div class="col-md-6">
            {{ .Params.section_1_title }}
            {{ .Params.section_1_subtitle }}
        </div>
        <div class="col-md-6">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
        </div>
        <div class="col-md-6">
            {{ .Params.section_2_title }}
            {{ .Params.section_2_subtitle }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {{ .Params.section_3_title }}
            {{ .Params.section_3_subtitle }}
        </div>
        <div class="col-md-6">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
        </div>
        <div class="col-md-6">
            {{ .Params.section_4_title }}
            {{ .Params.section_4_subtitle }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {{ .Params.section_5_title }}
            {{ .Params.section_5_subtitle }}
        </div>
        <div class="col-md-6">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
        </div>
        <div class="col-md-6">
            {{ .Params.section_6_title }}
            {{ .Params.section_6_subtitle }}
        </div>
    </div>
</div>

{{ partial "footer.html" . }}