$MicroGrey: #929292;
$MicroDarkGrey: #4A4A4A;
$MicroBlue: #13C3C6;
$MicroCoral: #FF636B;
$MicroOrange: #FFA963;
$transparentWhite: #FFFFFFA0;
$MicroColours: (#9EACB4, #EAFC40, #1ED2F4);//(#13C3C6, #929292, #FF636B, #FFA963);
$hoverGrey: #c0c9ce;

$MicroTealDark: #254558;
$MicroTealMid: #3A5768;
$MicroTealLight: #9EACB4;
$MicroLimeGreen: #EAFC40;
$MicroSelected: #1ED2F4;
$MicroPortfolioShellMain: #CFE2F3;
$MicroPortfolioShellSecondary: #9FC5E8;

$MainFont: 'Raleway', sans-serif;
$IntroFont: 'Poppins', sans-serif;
$SecondaryFont: 'Josefin Sans', sans-serif;

$small: 576px;
$medium: 768px;
$large: 992px;

$numberOfHomepagePortfolios: 3;
$numberOfTestimonials: 6;
$numberOfPortfolioEntries: 6;
$numberOfAddFeatures: 7;
$widthOfAddFeaturesCard: 250px;
$widthOfAddFeaturesCardText: 200px;
$edgePageGapAddFeaturesCard: 100px;
$midPageGapAddFeaturesCard: 50px;
$addFeaturesCardPadding: 30px;
$addFeaturesCardImgWidth: 125px;

$numberOfFAQs: 10;

$slideshowControlSize: 30px;
$slideshowIndicatorSize: 13px;

$mobileSlideshowTopMargin: 20px;

body {
    background-color: $MicroTealDark;
}

.intro-background {
    position: relative;
    width: 100%;
    overflow: hidden;
    background-color: $MicroTealMid;

    #background-1 {
        z-index: 5;
        height: 100%;
        width: 300%;
        margin-left: -100%;
        position: absolute;

        #background-1-1 {
            width: 100%;//100%;
            position: absolute;
            border-bottom: 60vh solid $MicroTealLight;//was 60vh
            border-left: 300vw solid transparent;
            bottom: 60vh;
        }

        #background-1-2 {
            position: absolute;
            background-color: $MicroTealLight;
            width: 100%;
            height: 80vh;//was 110
            bottom: -10vh;
        }
    }

    #background-2 {
        z-index: 6;
        height: 150vh;
        width: 150%;
        margin-left: -25%;
        margin-top: -25vh;
        position: absolute;

        #background-2-1 {
            position: absolute;
            border-top: 170vh solid $MicroTealDark;
            border-right: 150vw solid transparent;
            top: 0;
        }
    }
    
    .intro-line-container {
        width: 100%;
        height: 100vh;
        position: relative;
        z-index: 9;
        display: flex;
        justify-content: center;
        flex-direction: column;
        
        #intro-line-movement {
            width: 80%;
            position: relative;
            z-index: 7;
            margin: 0 auto;
            
            @media only screen and (min-width: 568px) {
                width: 60%;
            }
        
            #intro-line {
                font-family: $IntroFont;
                font-size: 24px;
                color: $MicroLimeGreen;
                text-align: left;
                padding: 0;
                //position: relative;
                width: 100%;
                //z-index: 7;
                margin: 0;
                
                @media only screen and (min-width: 375px) {
                    font-size: 30px;
                }
                
                @media only screen and (min-width: $medium) {
                    font-size: 40px;
                }
            }
        }
    }
    
    #micro-summary {
        position: relative;
        margin-top: 100px;
        z-index: 7;
        width: 100%;
        //height: 500px;
        padding: 0 10px;
        
        
        @media only screen and (min-width: $small) {
            padding: 0 10%;
            margin-top: auto;
        }
        
        h2 {
            color: $MicroLimeGreen;
            text-align: center;
            margin-bottom: 40px;
            
            @media only screen and (min-width: $large) {
                margin-bottom: 70px;
            }
        }
        
        p {
            color: white;
        }
        
        a {
            color: $MicroLimeGreen;
        }
        
        a:hover {
            text-decoration: none;
        }
        
        #portfolio-button {
            color: $MicroTealDark;
            font-size: 150%;
            text-align: center;
            width: 220px;
            margin: 0 auto 100px auto;
            background-color: $MicroLimeGreen;
            border-radius: 8px;
        }
        
        .text-column {
            //padding-left: 10%;
            //padding-right: 10%;
            
            p {
                font-weight: 200;
                font-size: 24px;
            }
        }
        
        .col-lg-6 {
            position: relative;
            padding-bottom: 80px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            
            .column-container {
                position: relative;
                overflow-y: hidden;
                
                picture {
                    position: absolute;
//                    border: 1px solid red;
                    display: block;
                    height: 100%;
//                    width: 100%;
                    
                    img {
                        position: absolute;
                        bottom: 0;
                        width: 100%;
                    }
                }

                #portfolio-shell-laptop {
                    position: relative;
                    width: 100%;
                    bottom: 0;
                    z-index: 5000000;
                    margin: 0;
                }

                .portfolio-laptop-animation {
                    width: 78%;
                    bottom: 0;
                    left: 7.1%;
                }
                
//                #portfolio-laptop-animation-1, #portfolio-laptop-animation-2 {
//                    width: 78%;
//                    bottom: 0;
//                    left: 7.1%;
//                }
                
                #portfolio-laptop-animation-0 {
                    z-index: 4999999;
                }
                
                #portfolio-laptop-animation-1 {
                    z-index: 4999998;
                }
                
                #portfolio-laptop-animation-2 {
                    z-index: 4999997;
                }
                
                #portfolio-laptop-animation-3 {
                    z-index: 4999996;
                }

                #portfolio-shell-mobile {
                    position: absolute;
                    width: 27%;
                    right: 1%;
                    bottom: 0;
                    z-index: 10000000;
                }

                .portfolio-mobile-animation {
                    width: 21.4%;
                    bottom: 0;
                    right: 6.2%;
                }
                
                #portfolio-mobile-animation-0 {
                    z-index: 9999999;
                    
                }
                
                #portfolio-mobile-animation-1 {
                    z-index: 9999998;
                }
                
                #portfolio-mobile-animation-2 {
                    z-index: 9999997;
                }
                
                #portfolio-mobile-animation-3 {
                    z-index: 9999996;
                }
            }
        }
    }
}

.features-background {
    background-color: $MicroLimeGreen;
    
    .feature-columns-row {
        padding: 80px 0;
        
        .svg-img {
            width: 200px;
            height: 200px;
            display: block;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        
        p, h3 {
            text-align: center;
            color: $MicroTealDark;
            margin-bottom: 50px;
            
            @media only screen and (min-width: $large) {
                margin: auto;
            }
        }
        
        h3 {
            height: 80px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0;
            
            @media only screen and (min-width: $large) {
                margin: 20px 0;
            }
        }
    }
}

.features-and-about-background {
    background-image: linear-gradient($MicroLimeGreen, $MicroTealDark);
    
    h2 {
        color: $MicroSelected;
        text-align: center;
        
        @media only screen and (min-width: $large) {
            display: none;
        }
    }
    
    .about-row {
        .about-image {
            display: flex;
            justify-content: center;
            align-items: center;
            
            img {
                width: 100%;
                max-width: 487px;
                flex-grow: 0;
                flex-shrink: 0;
                margin-bottom: 40px;
            }
        }
        
        padding-top: 40px;
        padding-bottom: 80px;
        text-align: left;
        
        h2 {
            text-align: left;
            display: none;
            
            @media only screen and (min-width: $large) {
                display: block;
            }
        }
        
        p {
            color: white;
            text-align: center;
            
            @media only screen and (min-width: $small) {
                width: 80%;
                margin-left: 10%;
            }
            
            @media only screen and (min-width: $large) {
                text-align: left;
                width: 95%;
                margin-left: 0%;
            }
            
            a {
                color: $MicroSelected;
                text-decoration: none;
                
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}

.contact-background {
    padding: 80px 0;
    
    h2 {
        color: $MicroSelected;
        text-align: center;
        padding-bottom: 40px;
    }
    
    .container p {
        color: white;
        text-align: center;
        padding-bottom: 30px;
        
        a {
            color: $MicroLimeGreen;
        }
    }
    
    form {
        width: 80%;
        margin: 0 auto;
        position: relative;
        
        .form-input {
            width: 90%;
            margin: 0 auto;
            margin-top: 40px;
        }
        
        .form-label {
            position: absolute;
            z-index: 1;
            left: 5%;
            top: -40px;
        }
        
        label {
            color: $MicroLimeGreen;
            text-align: left;
            font-family: $MainFont;
            font-size: 24px;
            width: 130px;
            margin: 4px 0 52px 0;
            display: block;
            height: 100%;
            
        }

        input, textarea {
            background-color: #f4f5f6;
            border: none;
            width: 100%;
            color: $MicroTealDark;
            margin-bottom: 50px;
            position: relative;
            z-index: 2;
        }

        input {
            height: 40px;
        }
        
        button {
            background-color: $MicroLimeGreen;
            font-family: $MainFont;
            font-size: 24px;
            color: $MicroTealDark;
            border: none;
            border-radius: 5px;
            width: 120px;
            height: 45px;
            margin: 0 auto;
            display: block;
            text-align: center;
        }
        
        @media only screen and (min-width: $large) {
            .form-input {
                width: 80%;
                margin-top: auto;
            }

            .form-label {
                left: auto;
                right: 90%;
                top: auto;
            }
            
            label {
                text-align: right;
                margin: 4px 0 12px 0;
                padding-right: 10px;
            }
            
            input, textarea {
                margin-bottom: 10px;
            }
        }
    }
}


p {
    font-family: $MainFont;
    font-size: 20px;
    font-weight: 200;
    //padding-left: 30px; removed when working on resource centre article styling
    //padding-right: 30px; removed when working on resource centre article styling
    //padding-bottom: 30px;
    //padding-top: 0;
    color: $MicroDarkGrey;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: $MicroDarkGrey;
    text-align: center;
}

@media only screen and (min-width: 768px) {
    h1 {
        font-size: 50px;
    }
}

h2 {
    font-family: $SecondaryFont;
    font-weight: 300;
    color: $MicroDarkGrey;
    //padding-left: 30px; removed when working on resource centre article styling
    //padding-right: 30px; removed when working on resource centre article styling
}

h3 {
    margin: 20px 0;
//    font-family: 'Lato', sans-serif;
    font-family: $SecondaryFont;
    font-weight: 300;
    font-size: 28px;
    color: $MicroDarkGrey;
    //text-align: center; removed - probably not needed
}

#menu-bar {
    //height: 0;
    width: 100%;
    position: relative;
    z-index: 10;
    
    #logo {
        width: 80px;
        position: absolute;
        z-index: 8;
        top: 30px;
        left: 30px;
        
        @media only screen and (min-width: $medium) {
            width: 120px;
        }
    }
}

#menu-list {
    display: none;
    
    .menu-list-items {
        width: 60%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
//        line-height: 1.2;
        
        li {
            line-height: 100%;
            padding: 15px 0;
        }
        
        a {
            text-decoration: none;
            color: white;
            
            &:hover {
                color: $MicroLimeGreen;
            }
        }
    }
}

.menu-toggle {
    position: fixed;
    z-index: 20;
    right: 30px;
    top: 35px;
    height: 40px;
    width: 40px;
    border-radius: 5px;
    background-color: #FFFFFF22;
    display: flex;
    justify-content: center;
    align-items: center;
    
    &:hover {
        cursor: pointer;
    }
    
    .menu-toggle-button {
        width: 80%;
        height: 100%;
        position: relative;
        
        .menu-burger-line {
            width: 100%;
            height: 4px;
            background-color: white;
            position: absolute;
        }
        
        #menu-burger-line-1 {
            top: 20%;
        }
        
        #menu-burger-line-2 {
            top: 50%;
            transform: translateY(-50%);
        }
        
        #menu-burger-line-3 {
            top: 80%;
            transform: translateY(-100%);
        }
        
        svg {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    
    #menu-close {
        display: none;
    }
}

#menu-checkbox {
    display: none;
    
    &:checked ~ #menu-list {
        background-color: $MicroTealLight;
        display: block;
        position: fixed;
        z-index: 9;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        list-style-type: none;
        padding: 0;
        
        li {
            color: white;
            font-family: $MainFont;
            font-weight: 200;
            font-size: 40px;
            
            @media only screen and (min-width: $medium) {
                font-size: 6vw;
            }
            
            @media only screen and (min-width: $large) {
                font-size: 60px;
            }
        }
    }
    
    &:checked ~ .menu-toggle {
        position: fixed;
    }
}


.navbar {
    background-color: white;
}

.nav-link {
    color: $MicroDarkGrey;
    font-family: $MainFont;
}

.nav-item {
    padding: 6px;
}

.page-intro {
    padding: 200px 0 30px 0;
    text-align: center;
    position: relative;
    z-index: 3;
    
    p {
        color: white;
    }
    
    h1 {
        font-weight: 300;
        color: $MicroLimeGreen;
        font-family: $SecondaryFont;
    }
}

.article-list-intro {
    position: relative;
    z-index: 3;
    padding-top: 50px;
    padding-bottom: 50px;
    
    p {
        color: white;
    }
    
    h1 {
        text-align: left;
        font-weight: 300;
        font-size: 30px;
        letter-spacing: 2px;
        color: $MicroLimeGreen;
        font-family: $SecondaryFont;
    }
}

#intro-banner {
    background-color: $MicroTealMid;
    color: white;
    margin-bottom: 0;
    height: 100vh;
    position: relative;
    
    h1 {
        font-size: 6vw;
        color: $MicroLimeGreen;
        text-align: left;
        padding: 0;
        position: absolute;
        top: 35%;
        left: 20%;
        width: 60%;
        z-index: 7;
    }
    
    p {
        position: relative;
        top: 200px;
    }

    @media only screen and (min-width: 768px) {
        h1 {
            font-size: 40px;
        }
    }
}



#video-section {
    
    padding: 0;
    margin: 0;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 55vw;
    min-height: 320px;
    max-height: 500px;
    display: flex;
    
    @media only screen and (min-width: $medium) {
        display: block;
    }
    
    #mobile-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        width: 100%;

        @media only screen and (min-width: $medium) {
            display: none;
        }
    }

    #backgroundVideo {
        display: none;

        @media only screen and (min-width: $medium) {
            display: block;
            object-fit: cover;
            width: 100%;
            max-height: 500px;
            z-index: 0;
        }
    }

    .dark-grey-overlay {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000000A0;
    }

    .text-over-video {
        position: relative;
        width: 90%;
        z-index: 2;
        text-align: center;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        h2, p {
            color: white;
        }
        
        p {
            font-size: 16px;
            
        }
        
        h2 {
            font-size: 20px;
        }
        
        @media only screen and (min-width: $small) {
            h2 {
                font-size: 28px;
            }
        }
        
        @media only screen and (min-width: $medium) {
            position: absolute;
            top: calc(50% - 176px);
            left: 5%;
            width: 410px;
            heigth: 312px;
            
            p {
                font-size: 20px;
            }
            
            h2 {
                font-size: 2rem;
            }
        }
    }

    .packages-button {
        position: relative;
        background-color: $MicroCoral;
        height: 36px;
        width: 160px;
        border-radius: 5px;
        color: white;
        padding: 5px 0;
        margin: 0 auto;

        &:hover {
            text-decoration: none;
        }

        a, a:hover, a:focus {
            p {
                text-decoration: none;
            }
            text-decoration: none;
        }
        
        @media only screen and (min-width: $medium) {
            position: absolute;
            height: 40px;
            padding: 4px 0;
            bottom: -40px;
            left: calc(50% - 80px);
        }

    }
    
}

.front-page-features {
    
    .main-features {
        margin-bottom: 20px;
    }
    
    .benefit-circle {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        margin: 50px auto 20px auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    /*
    #approach-image {
        position: relative;
        left: 27px;
        top: 27px;
    }
    #micro-prices-image {
        position: relative;
        left: 40px;
        top: 27px;
    }
    #never-outsourced-image {
        position: relative;
        left: 36px;
        top: 27px;
    }
    */
    #quick-turnaround-image {
        position: relative;
        bottom: 4px;
    }

    #approach {
        background-color: $MicroBlue;
    }

    #micro-prices {
        background-color: $MicroGrey;
    }

    #never-outsourced {
        background-color: $MicroCoral;
    }

    #quick-turnaround {
        background-color: $MicroOrange;
    }

    .features-headings {
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}




#extra-services-left {
    background-image: url(/images/indesignwetrust.png);
    background-size: cover;
    background-color: #FFFFFF;
    position: relative;
}

#extra-services-right {
    background-image: url(/images/stretchedbackground.png);
    background-size: cover;
    position: relative;
    padding-bottom: 20px;
}

#extra-services-right h2 {
    color: white;
    margin-top: 40px;
    text-align: center;
}

.grey-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF55;
    z-index: 1;
}

.extra-service-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    z-index: 2;
    border-radius: 5px;
}

.extra-service-container p {
    color: white;
    padding-bottom: 0;
}

.extra-service-container h3 {
    color: white;
    text-align: left;
    margin-left: 30px;
    margin-bottom: 0;
}

.extra-service-container:hover {
    background-color: #FFFFFFA0;
}

.extra-service-text {
    width: 390px;
}

.arrow-button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 40px;
    text-align: center;
    position: relative;
    bottom: 5px;
    z-index: 3;
    color: #707070;
}

.arrow-button > span {
    position: relative;
    bottom: 4px;
    left: 2px;
}

#arrow-button-support {
    background-color: $MicroBlue;
}

#arrow-button-spread {
    background-color: $MicroOrange;
}

.carousel-item {
    margin-top: 50px;
    margin-bottom: 50px;
}

.carousel-control-next-icon:after {
    content: '>';
    font-size: 55px;
    color: $MicroDarkGrey;
}

.carousel-control-prev-icon:after {
    content: '<';
    font-size: 55px;
    color: $MicroDarkGrey;
}

.carousel-indicators li {
    background-color: $MicroGrey;
}

.carousel-indicators .active {
    background-color: $MicroDarkGrey;
}

#about-section {
    background-color: $MicroBlue;
    
    h2 {
        color: white;
        padding-top: 30px;
        font-family: "Poppins", sans-serif;
    }
    
    p {
        color: white;
        margin: 0 0 10px 0;
    }
    
    .row {
        padding: 20px 0;
    }
}

.bio-column {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    padding-left: 20px;
    padding-right: 20px;
}

.person-name {
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    h3 {
        color: white;
        margin: 0;
        padding: 0;
        height: auto;
        text-align: center;
    }
}

.person-photo {
    width: 225px;
    flex-grow: 0;
    margin: 20px 0 0 0;
}

.person-desc {
    width: 150px;
    flex-grow: 1;
    
    @media only screen and (min-width: $medium) {
        margin-top: 20px;
    }
    
    p {
        padding-left: 10px;
        padding-right: 6px
    }
}

.contact-section {
    background-color: $MicroGrey;
    //padding-left: 50px;
    //padding-right: 50px;
    padding-bottom: 20px;
}

.contact-section h2 {
    color: white;
    padding-top: 30px;
    font-family: "Poppins", sans-serif;
}

.contact-section p {
    color: white;
    margin-bottom: 0;
}

a {
    color: $MicroBlue;
}

#contact-form-container {
    margin: 0 auto;
}

#contact-form {
    padding: 15px;
}

input {
    background-color: $MicroGrey;
    box-shadow: 0;
    border: none;
    border-bottom: 1px solid white;
    margin: 0;
    color: white;
}

#name-input {
    width: 100%;
}

#email-input {
    width: 100%;
}

#message-input {
    background-color: $MicroGrey;
    border: none;
    resize: none;
    border-bottom: 1px solid white;
    width: 100%;
    padding: 0 1px;
    color: white;
    margin-top: 10px;
}

#sendButton {
    text-align: center;
    border: none;
    background-color: $MicroGrey;
    color: white;
    font-size: 150%;
}

#sendButton:hover {
    cursor: pointer;
}

::placeholder {
    color: white;
}



#form-success {
    display: none;
}

.footer-section {
    //background-color: $MicroTealDark;
    padding: 30px 5px;
    
    p {
        text-align: center;
        font-size: 14px;
        color: white;
        font-weight: 200;
        margin-bottom: 0;
        
        a {
            color: $MicroSelected;
            &:hover {
                color: inherit;
            }
        }
    }
    #copyright {
        font-size: 18px;
        padding-top: 20px;
    }
    
    img, svg {
        width: 40px;
    }
    
    .background-circle {
        fill: $MicroLimeGreen;
    }
}



.grey-hover-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    
    &:hover {
        background-color: #FFFFFF55;
    }
}

#resource-centre-sections {
    text-align: center;
    margin-bottom: 60px;
    
    a {
        width: 100%;
        height: 100%;
    }
    
    a:hover {
        text-decoration: none;
        background-color: #FFFFFF55;
        z-index: 3;
    }
    
    h2 {
        font-family: $MainFont;
        color: $MicroLimeGreen;
        font-size: 22px;
        padding: 30px 10px 10px 10px;
        margin: 0;
    }
    
    p {
        font-family: $MainFont;
        color: white;
        font-size: 18px;
        padding-bottom: 0;
    }

    
    .col-md-6 {
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
//        width: 250px;
    }
    
    .row {
        //margin-top: 10px;
        position: relative;
        z-index: 2;
        margin-bottom: 0;
        
        .image-block {
            height: 150px;
        }
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: 0.5;
        }
    }
    
    .resource-centre-category-link-div {
        padding: 30px 20px;
        
        .icon-bar-svg-fill {
            fill: $MicroLimeGreen;
        }
        
        .icon-bar-svg-stroke {
            stroke: $MicroLimeGreen;
        }
    }

    
    .spacer {
        height: 20px;
        width: 100%;
    }
    
    @media only screen and (min-width: $medium) {
        h2 {
            font-size: 26px;
        }
        
        p {
            font-size: 18px;
        }

        .col-md-6 {
            padding: 0;
        }

        .row {
            .image-block {
                height: auto;
            }
            
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    
    svg {
        width: 100px;
    }
}



.article-list-item-wrapper {
    position: relative;
    z-index: 3;
    padding: 0;
    margin-bottom: 120px;
    
    a {
        &:hover {
            text-decoration: none;
        }
    }
    
    .article-list-image {
        
        text-align: center;
        
        img {
            width: 100%;
            max-width: 500px;
            height: 100%;
            max-height: 300px;
            object-fit: cover;
            margin: 0;
            filter: grayscale(100%);
        }
    }
    
    .article-list-text {
            
        margin: 15px;
        border-radius: 5px;
//        background-color: $transparentWhite;
        
        @media only screen and (min-width: $medium) {
            margin: 0;
            background-color: none;
        }
        
        h2 {
            font-family: $MainFont;
            color: $MicroSelected;
            font-size: 24px;
            margin: 0;
            padding-bottom: 10px;
        }
        p {
            margin: 0;
            color: white;
        }
    }

}

.capitals {
    text-transform: uppercase;
}

.article-formatting {
    
    h1 {
        color: $MicroSelected;
        font-family: $MainFont;
        font-size: 34px;
        text-align: left;
    }
    p {
        max-width: 100%;
        color: white;
        
        img {
            width: 100%;
            height: 100%;
            max-width: 500px;
            object-fit: cover;
            margin: 0 auto;
        }
        
        a {
            color: $MicroSelected;
        }
    }
    
        
    li {
        font-family: $MainFont;
        color: white;
        font-size: 20px;
        font-weight: 200;
    }
    
    h2 {
        font-family: $MainFont;
        font-size: 28px;
        color: $MicroSelected;
    }
    
    h3 {
        text-transform: uppercase;
        font-family: $SecondaryFont;
        text-align: left;
        font-size: 22px;
        color: $MicroSelected;
    }
    img {
        text-align: center;
        display: block;
        margin: 0 auto;
        width: 80%;
    }
    
    .headline-img {
        width: 100%;
        
        @media only screen and (min-width: $medium) {
            width: 80%;
        }
    }
    
    table {
        color: white;
        font-family: $MainFont;
        font-weight: 200;
        font-size: 18px;
        margin: 0 auto 20px auto;
        
        li {
            font-size: 18px;
        }
        
        th, td {
            border: 1px solid white;
            padding: 0 4px;
        }
    }
}

.no-padding {
    padding: 0;
}

.slideshow {
    position: relative;
    overflow: hidden;
    margin: 0;
    width: 100%;
    
    .slideshow-radio {
        display: none;
    }
    
    .slideshow-rail {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    
    .slideshow-controls {
        position: relative;
        z-index: 1;
        display: none;
        width: 100%;
        height: 100%;
    }
    
    .slide-control {
        position: absolute;
        top: 78%;
        width: $slideshowControlSize;
        height: $slideshowControlSize;
        
        border-width: 5px 5px 0 0;
        border-style: solid;
        margin-top: -($slideshowControlSize / 2);
        
        &:hover {
            cursor: pointer;
        }
        
         @media only screen and (min-width: $small) {
            top: 50%;
        }
    }
    
    .prev-slide {
        left: 30px;
        transform: rotate(-135deg);
    }
    
    .next-slide {
        right: 30px;
        transform: rotate(45deg);
    }
    
    .slide {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        
        img {
            margin-top: 20px;
            max-width: 100%;
        }
        
        @media only screen and (min-width: $small) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            
            img {
                margin-top: 0;
            }
        }
        
    }

    .slideshow-rail {
        transition: transform 1s;
    }
    
    .slide-indicator {
        position: absolute;
        bottom: calc((48vw - #{$mobileSlideshowTopMargin} - 100px) / 2);
        left: 50%;
        z-index: 3;
        width: $slideshowIndicatorSize;
        height: $slideshowIndicatorSize;
        border-radius: 50%;
        cursor: pointer;
        
        @media only screen and (min-width: $small) {
            bottom: 20px;
        }
    }
    
    @for $i from 1 through $numberOfTestimonials {
        .slideshow-radio:nth-of-type(#{$i}):checked ~ .slide-indicator-#{$i} {
            border: 1px solid white;
        }
    }
    
    h1 {
        color: white;
        text-align: center;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        z-index: 3;
    }

    h2 {
        color: white;
        text-align: center;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        z-index: 3;
    }
    
    p {
        color: white;
        text-align: center;
        width: 60%;
        margin: 0 auto;
        padding: 0;
    }

    .quote-person {
        text-align: right;
        color: $MicroSelected;
    }
    
    @for $i from 1 through $numberOfTestimonials {
        .slideshow-rail .slide:nth-of-type(#{$i}) {
            transform: translateX(($i) * 100%);
        }
    }
    
    @for $i from 1 through $numberOfTestimonials {
        .slideshow-radio:nth-of-type(#{$i}):checked ~ .slideshow-rail {
            transform: translateX(($i) * (-100%));
        }
    }
    
    @for $i from 1 through $numberOfTestimonials {
        .slideshow-radio:nth-of-type(#{$i}):checked ~ #slide-#{$i}-controls {
            display: block;
        }
    }

}




.homepage-slideshow {
    height: 100vw;
    max-height: $small;
    
    @for $i from 1 through $numberOfHomepagePortfolios {
        .slide-indicator-#{$i} {
            $j: ((($i - 1) % length($MicroColours)) + 1);
            $pos: ((($numberOfHomepagePortfolios - 1) * (-20px)) - ($slideshowIndicatorSize / 2) + (($i - 1) * 40));
            background-color: nth($MicroColours, $j);
            transform: translateX($pos);
        }
    }
    
    .slide-control {
        border-color: $MicroGrey;
        
        &:hover {
            border-color: $MicroDarkGrey;
        }
    }
    
    img {
        margin: 0 auto 50px auto;
    }
    
    #see-portfolio-h2 {
        color: white; //duplicate
        text-align: center;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        z-index: 3; //duplicate end
        
        bottom: calc((48vw - #{$mobileSlideshowTopMargin}) / 2);
        width: 200px;
        background-color: $MicroCoral;
        font-size: 20px;
        padding: 10px 18px 6px 18px;
        border-radius: 4px;
        
        @media only screen and (min-width: $small) {
            bottom: 65px;
        }
        
        &:hover {
            cursor: pointer;
        }
    }
}

.testimonials-slideshow {
    display: none;
    z-index: 3;
    
    @media only screen and (min-width: $small) {
        display: block;
        height: 350px;

        @for $i from 1 through $numberOfTestimonials {
            .slide-indicator-#{$i} {
                $j: ((($i - 1) % length($MicroColours)) + 1);
                $pos: ((($numberOfTestimonials - 1) * (-20px)) - ($slideshowIndicatorSize / 2) + (($i - 1) * 40));
                background-color: nth($MicroColours, $j);
                transform: translateX($pos);
            }
        }

        @for $i from 1 through $numberOfTestimonials {
            .slide-#{$i} {
                //background-color: nth($MicroColours, $i);
            }
        }

        .slide-control {
            border-color: $MicroLimeGreen;

            &:hover {
                border-color: white;
            }
        }
        
        p {
            font-size: 20px;
            padding-bottom: 20px;
            
            @media only screen and (min-width: 1200px) {
                font-size: 24px;
            }
        }

        h2 {
            top: 40px;
            width: 325px;
        }
        
        h1 {
            top: 40px;
            width: 325px;
            color: $MicroLimeGreen;
            font-family: $SecondaryFont;
            margin-bottom: 50px;
        }
    }
}

.portfolio-intro {
    padding-bottom: 0px;

    h1 {
        padding-bottom: 20px;
        
        @media only screen and (min-width: $small) {
            padding-bottom: 0;
        }
    }
}

.portfolio {
    position: relative;
    z-index: 3;
    padding-top: 0px;
    
    
    @media only screen and (min-width: $small) {
        padding-top: 40px;
    }
    
    h1 {
        margin-bottom: 0;
    }
    
    .row {
        padding: 20px 0 0 0;
        
        
        
        img {
            max-width: 100%;
            padding-bottom: 30px;
        }
        
        .portfolio-text{
            h2 {
                color: $MicroLimeGreen;
                margin-bottom: 5px;
            }
            
            p {
                color: white;
            }
            
            a {
                font-family: $MainFont;
                font-size: 20px;
                color: $MicroSelected;
                margin-bottom: 5px;

                &:hover {
                    color: $MicroLimeGreen;
                    text-decoration: none;
                }
                
            }
        }
    }
    
    hr {
        border-width: 1px;
        //width: 90%;
        border-color: $MicroTealLight;
        margin: 40px auto 50px auto;
    }
    
    //@for $i from 1 through $numberOfPortfolioEntries {
    //    hr:nth-of-type(#{$i}) {
    //        $j: ((($i - 1) % length($MicroColours)) + 1);
    //        border-color: nth($MicroColours, $j);
    //    }
    //}
    
    .col-lg-6 {
        position: relative;
        padding: 0 15px 20px 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .column-container {
            position: relative;
            padding: 0;

            img {
                position: absolute;
                padding: 0;
            }

            .portfolio-shell-laptop {
                position: relative;
                width: 100%; //was80
                //left: 10%;
                bottom: 0;
                z-index: 8;
                margin: 0;
            }

            .portfolio-laptop {
                width: 78.5%;
                bottom: 0;
                left: 7.1%;
                z-index: 7;
            }

            .portfolio-shell-mobile {
                position: absolute;
                width: 27%;
                right: 1%;
                bottom: 0;
                z-index: 9;
            }

            .portfolio-mobile {
                width: 21%;
                bottom: 0;
                right: 6.2%;
                z-index: 8;
            }
        }
    }
}

.template-background {
    background-color: $MicroTealMid;
    width: 100%;
//    height: 100%;
    position: relative;
    z-index: 0;
    overflow-x: hidden;
    
    .template-background-1 {
        width: 100%;
        height: 120vh;
        border-top: 120vh solid transparent;
        border-right: 100vw solid $MicroTealDark;
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
    }

    .template-background-2 {
        width: 100%;
        position: absolute;
        top: 120vh;
        height: 30vh;
        background-color: $MicroTealDark;
        z-index: 0;
    }  
    
    .template-background-3 {
        width: 100%;
        height: 110vh;
        border-bottom: 120vh solid transparent;
        border-right: 110vw solid $MicroTealDark;
        position: absolute;
        z-index: 0;
        top: 149.9vh;
        left: 0;
    }
    
    .thankyou-background-1 {
        width: 100%;
        height: 80vh;
        border-bottom: 80vh solid transparent;
        border-left: 100vw solid $MicroTealMid;
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
    }
}

.services-background {
    background-color: $MicroTealMid;
}

.thankyou-background {
    background-color: $MicroTealDark;
}

.resource-centre-background {
    background-color: $MicroTealDark;
    
    .resource-centre-diagonal {
        width: 100%;
        height: 120vh;
        border-top: 120vh solid $MicroTealMid;
        border-right: 100vw solid transparent;
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
    }
}

.services-intro {

    h1 {
        margin-bottom: 50px;
    }
}

.always-included-and-additional {
    position: relative;
    z-index: 3;
    
    h2 {
        text-align: center;
        padding: 50px 0 20px 0;
        color: $MicroLimeGreen
    }
    
    .row {
        width: 100%;
        margin: 0;
        padding: 0 0 30px 0;
    }
    
    table {
        width: 320px;
        margin: 0 auto;
        font-family: $MainFont;
        font-size: 20px;
        color: white;
        font-weight: 200;
        tr {
            padding: 0 0px;
            .tick {
                width: 40px;
            }
            
            td:nth-of-type(2) {
                padding-left: 10px;
            }
        }
    }
    
    p {
        color: white;
        text-align: center;
    }
    
    .price-estimate {
        position: relative;
        
        max-width: 300px;
        margin: 50px auto 0 auto;
        padding: 0;
        display: none;
        z-index: 3;
        
        p {
            position: relative;
            z-index: 3;
            text-align: center;
            font-size: 30px;
            font-weight: 400;
            padding: 0;
            margin: 0;
            text-align: center;
            letter-spacing: 3px;
            color: $MicroSelected;
        }
    }
}


.service-selection-scroll-container {
    position: relative;
    height: 0;
    width: 100%;
    z-index: 4;
    
    .service-selection-scroll-touch-area {
        position: absolute;
        z-index: 3;
        top: 125px;
        width: 75px;
        height: 100px;
        
        &:hover {
            cursor: pointer;
        }
        
        &:hover > .service-selection-scroll {
            border-color: white;
        }
        
        .service-selection-scroll {
            position: relative;
            z-index: 3;
            top: 40px;
            width: 50px;
            height: 50px;
            border-width: 5px 5px 0 0;
            border-style: solid;
            border-color: $MicroLimeGreen;
            margin-top: -($slideshowControlSize / 2);
            display: none;
        }
    }
    
    .touch-area-left {
        left: 0;
        
        @media only screen and (min-width: $small) {
            left: 30px;
        }
    }
    
    .touch-area-right {
        right: 0;
        
        @media only screen and (min-width: $small) {
            right: 30px;
        }
    }
    
        

    .left-scroll {
        left: 25px;
        transform: rotate(-135deg);
    }

    .right-scroll {
        transform: rotate(45deg);
    }        
}

.service-selection-scrollbar-hide {
    overflow-y: hidden;
}

.service-selection-container {
    width: 100%;
    height: 360px;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    overflow-y: hidden;
    padding: 0;
    position: relative;
    z-index: 3;

    .service-selection-box-wrapper {
        width: ($edgePageGapAddFeaturesCard * 2) + (($numberOfAddFeatures - 1) * $midPageGapAddFeaturesCard) + ($numberOfAddFeatures * $widthOfAddFeaturesCard);
        height: 400px;
        position: relative;
        padding: 0;
        //overflow-x: hidden;
  
        .service-checkbox {
            display: none;
        }

        @for $i from 1 through $numberOfAddFeatures {
            #service-box-label-#{$i} {
                transform: translateX(($i - 1) * 300px);
            }
        }
        
        .service-box-label {
            width: $widthOfAddFeaturesCard;
            height: 300px;
            position: absolute;
            top: 25px;
            left: $edgePageGapAddFeaturesCard;
            background-color: $MicroTealLight;
            border-radius: 10px;
            padding: $addFeaturesCardPadding;
            margin: 0;
            //box-shadow: 0 0 5px 1px $MicroGrey;

            &:hover {
                cursor: pointer;
                background-color: $hoverGrey;
            }

                .service-description {
                    position: absolute;
                    left: (($widthOfAddFeaturesCard - $widthOfAddFeaturesCardText) / 2);
                    bottom: 10px;
                    height: 100px;
                    display: flex;
                    width: $widthOfAddFeaturesCardText;
                    justify-content: center;
                    align-items: center;
                    
                    p {
                        color: $MicroLimeGreen;
                        font-size: 18px;
                        text-align: center;
                    }
                }
            //}

            .service-box-image {
                position: absolute;
                top: 40px;
                left: (($widthOfAddFeaturesCard - $addFeaturesCardImgWidth) / 2);
                z-index: 3;
                width: $addFeaturesCardImgWidth;
                height: $addFeaturesCardImgWidth;
                display: flex;
                flex-direction: column;
                justify-content: center;
                
                img {
                    width: 100%;
                }
                
                .icon-content {
                    position: absolute;
                    z-index: 3;
                    top: 30px;
                    width: 100%;
                    
                    p {
                        text-align: center;
                        color: $MicroSelected;
                        font-size: 24px;
                    }
                }
                
                .design-a-logo {
                    z-index: 2;
                    position: relative;
                    margin: 0 auto;
                    width: $addFeaturesCardImgWidth;
                    height: (0.866 * $addFeaturesCardImgWidth);
                    height: ($addFeaturesCardImgWidth * 0.5 / 0.866);
                    background-color: white;
                    border-radius: 5px;

                    &:before, &:after {
                        content: '';
                        position: absolute;
                        width: inherit;
                        height: inherit;
                        border-radius: inherit;
                        background-color: inherit;
                    }

                    &:before {
                        transform: rotate(60deg);
                    }

                    &:after {
                        transform: rotate(-60deg);
                    }
                }
            }
            
                                
            
            .service-box-selected-image {
                z-index: 0;
            }
        }
        
        @for $i from 1 through $numberOfAddFeatures {
            .service-checkbox:nth-of-type(#{$i}):checked ~ #service-box-label-#{$i} {
                background-color: $MicroSelected;
                //box-shadow: inset 0 0 10px $MicroDarkGrey;
                
   
                
                .service-box-selected-image {
                    z-index: 2;
                }
            }
        }
    }
}

.estimate-section {
    padding: 40px 0;
    position: relative;
    z-index: 3;
    
    p {
        color: white;
        text-align: center;
    }
    
    .price-estimate {
        position: relative;
        
        max-width: 300px;
        margin: 0 auto 50px auto;
        padding: 0;
        display: none;
        z-index: 3;
        
        p {
            position: relative;
            z-index: 3;
            text-align: center;
            font-size: 30px;
            font-weight: 400;
            padding: 0;
            margin: 0;
            text-align: center;
            letter-spacing: 3px;
            color: $MicroSelected;
        }
        
        .price-estimate-colour-box {
            opacity: 0;
            position: absolute;
            z-index: 2;
            background-color: $MicroLimeGreen;
            border-radius: 10px;
            box-shadow: 0 0 10px 10px $MicroLimeGreen;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
    
    .price-estimate-update {
        background-color: $MicroLimeGreen;
        box-shadow: 0 0 10px 10px $MicroLimeGreen;
        transition: opacity 2s ease-in;
    }
}

.faq-section {
    position: relative;
    z-index: 3;
    padding: 40px 0;
    
    h2 {
        text-align: center;
        color: $MicroLimeGreen;
        padding-bottom: 30px;
    }
    
    p {
        color: white;
    }
    
    .question {
        //border: 1px solid blue;
        width: calc(100% - 50px);
    }
    
    .expand-arrow {
        position: absolute;
        top: 2px;
        right: 15px;
        width: 20px;
        //height: 20px;
        transition: transform 0.5s;
        cursor: pointer;
        //border-bottom: 4px solid $MicroSelected;
        //border-right: 4px solid $MicroSelected;
        //transform: rotate(45deg);
    }
    
    .answer {
        height: 0;
        overflow: hidden;
        
        p {
            font-size: 18px;
        }
        
        a {
            color: $MicroLimeGreen;
        }
    }
    
    .question-label {
        position: relative;
        margin: 0 10px;
    }
    
    .question-checkbox {
        display: none;
    }
    
    @for $i from 1 through ($numberOfFAQs) {
        .question-checkbox:nth-of-type(#{$i}) {

            &:checked ~ .question-label:nth-of-type(#{$i}) {
                .expand-arrow {
                    transform: scale(1,-1);
                    
                    //top: 15px;
                }
                
                .answer {
                    height: auto;
                }
            }
        }
    }
}

.services-footer {
    width: 100%;
    background-color: $MicroTealMid;
}

.moving-mountains-container {
    position: relative;
    width: 100%;
    //height: 500px;
    overflow-x: hidden;
    
    .spacer {
        width: 100%;
        height: 300px;
    }
    
    .moving-mountains {
        position: absolute;
        bottom: 0;
        z-index: 4;
    }
    
    #mountain-1 {
        left: 0;
        width: 25vw;
        border-color: $MicroLimeGreen;
        border-bottom: 80vh;
        border-left: 5vw solid transparent;
        border-right: 20vw solid transparent;
    }
    
    #mountain-2 {
        left: 20vw;
        width: 40vw;
        border-bottom: 40vh solid $MicroTealLight;
        border-left: 20vw solid transparent;
        border-right: 20vw solid transparent;
    }
    
    #mountain-3 {
        left: 50vw;
        width: 50vw;
        border-bottom: 80vh solid $MicroSelected;
        border-left: 15vw solid transparent;
        border-right: 35vw solid transparent;
    }
    
    #mountain-4 {
        left: 85vw;
        width: 15vw;
        border-bottom: 100vh solid $MicroTealLight;
        border-left: 10vw solid transparent;
        border-right: 5vw solid transparent;
    }
}

.portfolio-shell-main-colour {
    fill: $MicroPortfolioShellMain;
}

.portfolio-shell-secondary-colour {
    fill: $MicroPortfolioShellSecondary;
}

.thankyou-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    
    p {
        text-align: center;
    }
}

.follow-us {
    color: $MicroSelected;
    text-align: center;
    padding-bottom: 20px;
}

.social-media {
    
    @media only screen and (min-width: $large) {
        display: flex;
    }
    
    .social-col {
        width: 100%;
        padding: 10px;
    }
}

.border-on-top {
    border-top: 1px solid $MicroTealLight;
    width: 90%;
    margin: 0 auto;
}

.border-on-top-mobile {
    border-top: 1px solid $MicroTealLight;
    width: 90%;
    margin: 0 auto;
    
    @media only screen and (min-width: $medium) {
        border-top: none;
    }
}

.border-on-right {
    @media only screen and (min-width: $medium) {
        border-right: 1px solid $MicroTealLight;
    }
}

.resource-centre-categories-bar {
    padding: 200px 0 30px 0;
    position: relative;
    z-index: 3;
//    display: flex;
//    justify-content: center;
    
    .icon-bar {
        display: none;
        justify-content: center;
        height: 80px;
        
        .icon-box {
            height: 100%;
            border-radius: 5px;
            padding: 5px 0;
            position: relative;
            
            &:hover {
                background-color: #FFFFFF33;
                
                .icon-bar-lime-text {
                    display: block;
                }
                
                .icon-bar-svg-stroke {
                    stroke: transparent;
                }

                .icon-bar-svg-fill {
                    fill: transparent;
                }
            }
            
            .icon-bar-svg-stroke {
                stroke: $MicroTealLight;
            }

            .icon-bar-svg-fill {
                fill: $MicroTealLight;
            }
            
            #icon-bar-grey-text {
                color: $MicroTealLight;
            }
            
            .icon-bar-lime-text {
                position: absolute;
                top: 50%;
                width: 100%;
                display: none;
                transform: translateY(-50%);
                margin: 0;
            }
            
        }
        
        .icon-bar-svg-stroke-active {
            .icon-bar-svg-stroke {
                stroke: $MicroLimeGreen;
            }
        }

        .icon-bar-svg-fill-active {
            .icon-bar-svg-fill {
                fill: $MicroLimeGreen;
            }
        }
        
        a {
            height: 80px;
            
        }
        
        p {
            font-size: 14px;
            line-height: 24px;
            margin: 0 10px;
            
        }
    }
    
    .category-breadcrumbs {
        padding: 0 15px;
    }
    
    @media only screen and (min-width: $large) {
        .icon-bar {
            display: flex;
        }
        
        .category-breadcrumbs {
            display: none;
        }
    }
    
    p {
        text-align: center;
        color: $MicroLimeGreen;
        
        a {
            color: inherit;
            
            &:hover {
                text-decoration: none;
                color: $MicroLimeGreen;
            }
        }
    }
    
    svg {
        height: 100%;
        margin: 0 20px;
    }
}

.article-breadcrumbs {
    padding-top: 200px;
    padding-bottom: 100px;
    
    p {
        color: $MicroLimeGreen;
        text-align: center;
        margin: 0 auto;
        
        a {
            color: inherit;
            
            &:hover {
                text-decoration: none;
            }
        }
    }
}