<div class="full-width contact-background">
    <a name="contact"></a>
    <h2 class="capitals">Contact</h2>
    <div class="ltd-width">
        <p>Want to find out more? Complete the contact form or send us an email at <a href="mailto:hello@wearemicro.co">hello@wearemicro.co</a>. If you’re based in Sheffield or the surrounding area, we’re happy to arrange a face-to-face meeting. Just let us know where you’re based when completing the form.</p>
    </div>
    <form action="https://formspree.io/hello@wearemicro.co" method="POST">
        <div class="form-label">
            <label>NAME</label>
            <label>EMAIL</label>
            <label>MESSAGE</label>
        </div>
        <div class="form-input">
            <input type="text" name="name">
            <input type="email" name="email">
            <textarea rows="5" name="message"></textarea>
            <button type="sumbit">SEND</button>
            <input type="hidden" name="_next" value="https://wearemicro.co/thankyou">
        </div>
    </form>
</div>