<div class="container-fluid footer-section">
    <div class="text-center">
        <a href="https://twitter.com/Micro_Ltd" target="_blank">
            {{ partial "twitter.svg" . }}
        </a>
        <a href="mailto:hello@wearemicro.co">
            {{ partial "email.svg" . }}
        </a>
    </div>
    <p id="copyright">&copy; 2018 by Micro Boutique Branding</p>
    <p>Registered address:<br>Micro Boutique Branding Ltd, Kemp House, 160 City Road, London, United Kingdom, EC1V 2NX<br>Registered in England and Wales<br>Company number 10993015</p>
</div>

<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <script>
        $(document).ready(function() {
            
            
            $('#menu-checkbox').on('click touch', function() {
                if (this.checked) {
                    $('#menu-close').css('display', 'block');
                    $('#menu-burger').css('display', 'none');
                }
                if (!this.checked) {
                    $('#menu-close').css('display', 'none');
                    $('#menu-burger').css('display', 'block');
                }
            })
                
            var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
            (function(){
            var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
            s1.async=true;
            s1.src='https://embed.tawk.to/5be00f114cfbc9247c1eba2d/default';
            s1.charset='UTF-8';
            s1.setAttribute('crossorigin','*');
            s0.parentNode.insertBefore(s1,s0);
            })();


{{ if eq .Title "Services" }}
        
            //calculate price of additional features
            var basic = 599;
            var total = 599;
            var service = [40, 120, 40, 75, 200, 120, 75, 60, 60, 150]
            var priceStringText = '£';
            var priceString = '';

            $('.service-checkbox').on('click touch', function() {
                total = basic;
                for (i = 0; i < 10 ; i++) {
                    if (document.getElementById('service-' + (i + 1)).checked) {
                        total += service[i];
                    }
                }
                priceString = priceStringText + total;
                $('#estimate-value').text(priceString);
                $('.price-estimate').show();
                //$('.price-estimate').addClass('price-estimate-update');
                $('.price-estimate-colour-box').css('opacity', '1');
                setTimeout( function() {
                    $('.price-estimate-colour-box').fadeTo("medium", 0);
                }, 1);
            });

            priceString = priceStringText + total;
            $('#estimate-value').text(priceString);
            $('.price-estimate').css('display', 'block');

            //hide scrollbar if user has JS
            $('.service-selection-scrollbar-hide').css('height', '340');
            $('.service-selection-scroll').css('display', 'block');

            //click arrows to scroll horizontally through additional features
            var scrollPosition;

            var timeout;
            var scrolling;
            $('.touch-area-right').on('mousedown touchstart', function(){
                scrolling = true;
                timeout = setInterval(function(){
                    scrollPosition = $('.service-selection-container').scrollLeft();
                    $('.service-selection-container').scrollLeft(scrollPosition + 8);
                }, 10);
                return false;
            });

            $('.touch-area-left').on('mousedown touchstart', function(){
                scrolling = true;
                timeout = setInterval(function(){
                    scrollPosition = $('.service-selection-container').scrollLeft();
                    $('.service-selection-container').scrollLeft(scrollPosition - 8);
                }, 10);
                return false;
            });

            $(document).on('mouseup touchend', function(){
                if (scrolling) {
                    clearInterval(timeout);
                    scrolling = false;
                    return false;
                }
            });
            
            var mouseXpos = 0;
            var positionOffset1 = 0.2;
            var positionOffset2 = 0.05;
            var mountainHeightMin = [60, 20, 20, 40];
            var mountainHeightMax = [80, 60, 50, 80];
            var mountainHeight = [80, 60, 50, 80];
            var mountainPeakXPosVW = [5, 40, 65, 95];
            var mountainPeakXPosPixels = [0, 0, 0, 0];
            var maxMouseDistanceFromPeak = [0, 0, 0, 0];
            var mountainColours = ['#EAFC40', '#9EACB4', '#1ED2F4', '#9EACB4']
            
            for (var i = 0; i < 4; i++) {
                mountainPeakXPosPixels[i] = mountainPeakXPosVW[i] * $(window).width() / 100;
                if (($(window).width() - mountainPeakXPosPixels[i]) > mountainPeakXPosPixels[i]) {
                    maxMouseDistanceFromPeak[i] = ($(window).width() - mountainPeakXPosPixels[i]);
                } else {
                    maxMouseDistanceFromPeak[i] = mountainPeakXPosPixels[i];
                }
            }
            $(document).on('mousemove', function() {
                mouseXpos = event.pageX;
            });
            
            setInterval(function() {
                for (var i = 0; i < 4; i++) {
                    var xPosString;
                    mountainHeight[i] = mountainHeightMin[i] + ((mountainHeightMax[i] - mountainHeightMin[i]) * Math.abs(mouseXpos - mountainPeakXPosPixels[i]) / maxMouseDistanceFromPeak[i]);
                    xPosString = mountainHeight[i] + 'vh solid ' + mountainColours[i];
                    $('#mountain-' + (i + 1)).css('border-bottom', xPosString);
                }
            }, 30);
                
            if ($(window).width() < 576) {
                $('.moving-mountains').css('display', 'none');
                $('.spacer').hide();
            }
            
          

        
            
{{ end }}
            
{{ if eq .Title "Micro Boutique Branding" }}
            
            $('#contact-link').on('click touch', function() {
                $('#menu-checkbox').prop('checked', false);
            });
            
            var scaledPosFromCentre = [0, 0, 0];
            var lastPosFromCentre = [0, 0, 0];
            var newPosFromCentre = [0, 0, 0];
            var maxPosFromCentre = [200, 200, 200];
            var positionOffset1 = 0.2;
            var positionOffset2 = 0.05;
            var mouseX, mouseY;
            $(document).on('mousemove', function() {
                mouseXfromCentre = event.pageX - ($(window).width() / 2);
                mouseYfromCentre = event.pageY - ($(window).height() / 2);
                scaledPosFromCentre = [(positionOffset1 * mouseXfromCentre), (positionOffset1 * mouseYfromCentre), (positionOffset2 * (mouseXfromCentre + mouseYfromCentre))];
                //alert(scaledPosFromCentre[2]);
            });
            
            
            var betaAngle = "false";
            var gammaAngle = "false";
            var xFromCentreString, yFromCentreString;
            window.addEventListener("deviceorientation", handleOrientation, true);
            
            function handleOrientation(event) {
                betaAngle = "true";
                scaledPosFromCentre[0] = event.gamma * maxPosFromCentre[0] / 120;
                scaledPosFromCentre[1] = (event.beta * maxPosFromCentre[1] / 120) - 50;
            }
            
 
            
            setInterval(function() {
                
                
                
                
                
                if (betaAngle = "false") {
                    for (var i = 0; i < 3; i++) {
                        newPosFromCentre[i] = lastPosFromCentre[i] + (0.1 * (scaledPosFromCentre[i] - lastPosFromCentre[i]));
                        lastPosFromCentre[i] = newPosFromCentre[i];
                        if (newPosFromCentre[i] > maxPosFromCentre[i]) {
                            newPosFromCentre[i] = maxPosFromCentre[i];
                        }
                    }
                } else {
                    for (var i = 0; i < 3; i++) {
                        newPosFromCentre[i] = lastPosFromCentre[i] + (0.1 * (scaledPosFromCentre[i] - lastPosFromCentre[i]));
                        lastPosFromCentre[i] = newPosFromCentre[i];
                        if (newPosFromCentre[i] > maxPosFromCentre[i]) {
                            newPosFromCentre[i] = maxPosFromCentre[i];
                        }
                    }
                }
                   
                
                if (newPosFromCentre[0] > 0) {
                    xFromCentreString = '-' + newPosFromCentre[0] + 'px, ';
                } else {
                    xFromCentreString =  ((-1) * newPosFromCentre[0]) + 'px, ';
                }
                if (newPosFromCentre[1] > 0) {
                    yFromCentreString = '-' + newPosFromCentre[1] + 'px)';
                } else {
                    yFromCentreString =  ((-1) * newPosFromCentre[1]) + 'px)';
                }
                
                //var mousePosString = 'x: ' + scaledPosFromCentre[0] + ' y: ' + scaledPosFromCentre[1];
                //$('#mouse-position').html(mousePosString);
                $('#intro-line').css('transform', 'translate(' + xFromCentreString + yFromCentreString);
                //var newPosFromCentreX = newPosFromCentre[2]; // - ($(window).width() * 0.25);
                $('#background-1').css('transform', 'translate(' + newPosFromCentre[2] + 'px, ' + newPosFromCentre[2] + 'px)');
                
                //$('#intro-line').html(yFromCentreString + ', ' + newPosFromCentre[1]);
                
                var rotateAmount = newPosFromCentre[2] / 10;
                $('#background-2').css('transform', 'rotate(' + rotateAmount + 'deg)');
            }, 30);
            
            var portfolioLaptopImages = ['/images/lifeconsultancygroup-laptop.png', '/images/ckcoaching-laptop.png', '/images/5thelement-laptop.png', '/images/concept34-laptop.png', '/images/genneu-laptop.png'];
            var portfolioMobileImages = ['/images/lifeconsultancygroup-mobile.png', '/images/ckcoaching-mobile.png', '/images/5thelement-mobile.png', '/images/concept34-mobile.png', '/images/genneu-mobile.png'];
            var i = 1;
            var oddOrEven;
            var EvenOrOdd;
            var j;
            setInterval(function() {
                j = i % portfolioLaptopImages.length;
                oddOrEven = i % 2;
                if (oddOrEven == 1) {
                    evenOrOdd = 2;
                } else {
                    oddOrEven = 2;
                    evenOrOdd = 1;
                }
                $('#portfolio-mobile-animation-' + oddOrEven).animate({
                    top: '100%'
                });
                $('#portfolio-laptop-animation-' + oddOrEven).animate({
                    top: '100%'
                }, function() {
                    
                    $('#portfolio-laptop-animation-' + oddOrEven).css('z-index', '5'); //move front image backwards
                    $('#portfolio-mobile-animation-' + oddOrEven).css('z-index', '9');
                    $('#portfolio-laptop-animation-' + evenOrOdd).css('z-index', '7'); //move back image forwards
                    $('#portfolio-mobile-animation-' + evenOrOdd).css('z-index', '10');
                    $('#portfolio-laptop-animation-' + oddOrEven).attr('src', portfolioLaptopImages[j]);
                    $('#portfolio-mobile-animation-' + oddOrEven).attr('src', portfolioMobileImages[j]);//change now hidden image to next image
                    $('#portfolio-laptop-animation-' + oddOrEven).removeAttr('style'); //move changed image back inside frame ready to be revealed
                    $('#portfolio-mobile-animation-' + oddOrEven).removeAttr('style');
                    i++;
                    //alert(j);
                })
                //$('#portfolio-laptop').attr('src', '/images/concept34-laptop.png');
                
            }, 1250);
            
{{ end }}
            
        });
    </script>
        
  </body>
</html>