<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="https://fonts.googleapis.com/css?family=Raleway:100,200, 400|Poppins:200|Lato:200|Josefin+Sans:100,300" rel="stylesheet">
        
        <meta property="og:title" content="" />
        <meta property="og:description" content="" />
        <meta property="og:image" content="/images/micro-link-image.png" />
        
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-121084477-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-121084477-1');
        </script>
        
        {{if eq .Title "Micro Boutique Branding" }}
        <meta name="description" content="We're a Sheffield based web design company. We design and build affordable custom sites for small businesses. We’ll take care of the logo and copywriting too so you can focus on what you do best.">
        <meta property="og:url" content="https://wearemicro.co" />
        {{ end }}
        {{if eq .Title "Services" }}
        <meta name="description" content="Select exact what web design and branding services you want and get an instant quote. Based in Sheffield, we specialise in designing and building sites for small businesses.">
        {{ end }}
        
        {{if eq .Title "Portfolio" }}
        <meta name="description" content="We specialise in affordable custom websites. Whether you're a freelancer or a small business, our websites engage customers and help your business grow.">
        {{ end }}
        
        {{ $sass := resources.Get "style.scss" }}
        {{ $options := (dict "outputStyle" "compressed") }}
        {{ $style := $sass | resources.ToCSS $options }}
        <link rel="stylesheet" type="text/css" href="{{ $style.Permalink }}">
        
        <title>{{ .Title }}</title>
        <link rel="icon" href="/images/logo-favicon.png" type="image/png" sizes="51x64">
        
    </head>
    <body>

    <div id="menu-bar">
        <div id="logo">
            <a href="/">
                {{ partial "micro-logo.svg" . }}
            </a>
        </div>
        <input type="checkbox" id="menu-checkbox">
        <label for="menu-checkbox" class="menu-toggle">
            <div class="menu-toggle-button" id="menu-burger">
<!--                {{ partial "menu-burger.svg" . }}-->
                <div class="menu-burger-line" id="menu-burger-line-1"></div>
                <div class="menu-burger-line" id="menu-burger-line-2"></div>
                <div class="menu-burger-line" id="menu-burger-line-3"></div>
            </div>
            <div class="menu-toggle-button" id="menu-close">
                {{ partial "menu-close.svg" . }}
            </div>
        </label>
        <ul id="menu-list">
            <div class="menu-list-items">
                <li class="capitals"><a href="/">Home</a></li>
                <li class="capitals"><a href="/services/">Services</a></li>
                <li class="capitals"><a href="/portfolio/">Portfolio</a></li>
                <!--<li class="capitals"><a href="/resource-centre/">Resource Centre</a></li>-->
                <li class="capitals" id="contact-link"><a href="/#contact">Contact</a></li>
            </div>
        </ul>
    </div>