<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="https://fonts.googleapis.com/css?family=Poppins:200|Lato:200|Josefin+Sans:100,300" rel="stylesheet">
        
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        
        <title>{{ .Title }}</title>
        <link rel="icon" href="/images/microFavicon.png" type="image/png" sizes="64x64">
        
    </head>
    <body>
        
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand" href="#"><img src="/images/micro-logo.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">HOME <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/services/">SERVICES</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/portfolio/">PORTFOLIO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/resource-centre/">RESOURCE CENTRE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/faqs/">FAQs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact/">CONTACT</a>
                </li>
            </ul>
        </div>
    </nav>