<h2 class="follow-us">SEE WHAT WE'RE UP TO ON SOCIAL MEDIA</h2>
<div class="social-media">
    <div class="instagram social-col">
        <!-- LightWidget WIDGET --><script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe src="https://cdn.lightwidget.com/widgets/b6be79dc810d528db16d97bab3ad1a5c.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>
    </div>
    <div class="twitter social-col">
        <a class="twitter-timeline" data-height="500" data-theme="light" href="https://twitter.com/Micro_Ltd?ref_src=twsrc%5Etfw">Tweets by Micro_Ltd</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
</div>
        